# Data Cleaning process: 

- I got rid of all the NaNs and other irrelevant data points.
- I changed the data type where appropriate.
- I converted the 'Time' column data type from object to integer.
- I kept the 'Timestamp' column data type as object. As I am not sure how to convert it to an appropriate datetime datatype.
- I removed the 'Mode' column.
- I kept the 'Data' column.

In [1]:
# Import necessary libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Acce_1_26_05

In [2]:
# Load and preview the data.

Accel_1_26_05 = pd.read_csv('accel_1_26_05_2022.csv')

Accel_1_26_05.head()

,Time,X,Y,Z,X_f,Y_f,Z_f,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2918276,0,-32,0,1.068721,-0.504631,-0.231132,NaN,NaN,NaN,NaN
1,2918374,0,64,64,1.067315,-0.442127,-0.089711,NaN,NaN,NaN,NaN
2,2918471,64,-32,32,1.150048,-0.472716,-0.019123,NaN,NaN,NaN,NaN
3,2918569,-32,160,-96,1.10647,-0.317224,-0.229926,NaN,NaN,NaN,NaN
4,2918666,-32,-32,0,1.062978,-0.347992,-0.229421,NaN,NaN,NaN,NaN

In [3]:
# Data types and data info.
Accel_1_26_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         236 non-null    object
 1   X            226 non-null    object
 2   Y            223 non-null    object
 3   Z            223 non-null    object
 4   X_f          222 non-null    object
 5   Y_f          222 non-null    object
 6   Z_f          218 non-null    float64
 7   Unnamed: 7   2 non-null      object
 8   Unnamed: 8   1 non-null      object
 9   Unnamed: 9   1 non-null      object
 10  Unnamed: 10  1 non-null      object
dtypes: float64(1), object(10)
memory usage: 20.4+ KB

In [4]:
# Check for missing values.
Accel_1_26_05.isna().sum()

Time             0
X               10
Y               13
Z               13
X_f             14
Y_f             14
Z_f             18
Unnamed: 7     234
Unnamed: 8     235
Unnamed: 9     235
Unnamed: 10    235
dtype: int64

In [5]:
# have a look at the rows with missing values in Z_f. This contains all the NaNs in the labelled columns

A1_na_check = Accel_1_26_05[Accel_1_26_05['Z_f'].isna()]

A1_na_check.isna().sum()

A1_na_check

# This data all looks fine to be removed

,Time,X,Y,Z,X_f,Y_f,Z_f,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
36,2921694,gps:fixing,soc:100.00%,volt:4.09 AM1805:06:10:51,wakeup:0s,ext_alive:0s,NaN,NaN,NaN,NaN,NaN
77,2925591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2925688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2926276,NaN,NaN,NaN,NaN,NaN,NaN,###########################,NaN,NaN,NaN
86,2926277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2926,s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,�,� �7 ����,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2927248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2927346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,2928421,NaN,NaN,NaN,NaN,NaN,NaN,&,PRODUCTION,INFO,###########################
117,2928858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,2928954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2930318,s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2931737,gps:fixing,soc:100.00%,volt:4.09 AM1805:06:11:02,wakeup:0s,ext_alive:0s,NaN,NaN,NaN,NaN,NaN
176,2934510,-160,-384,-64,-16,s,NaN,NaN,NaN,NaN,NaN
218,2938995,224,192,-608,-22.2566,s,NaN,NaN,NaN,NaN,NaN
234,2940576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,2940586,ODO:0.0,"CSTAT:""0x00000000""","MSO0002940653 [app] INFO: ACCEL:\t,160.000000,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Create a copy of original data.

Accel_1_26_05_copy =  Accel_1_26_05.copy()

In [7]:
# View dataframe.
Accel_1_26_05_copy.head()

,Time,X,Y,Z,X_f,Y_f,Z_f,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2918276,0,-32,0,1.068721,-0.504631,-0.231132,NaN,NaN,NaN,NaN
1,2918374,0,64,64,1.067315,-0.442127,-0.089711,NaN,NaN,NaN,NaN
2,2918471,64,-32,32,1.150048,-0.472716,-0.019123,NaN,NaN,NaN,NaN
3,2918569,-32,160,-96,1.10647,-0.317224,-0.229926,NaN,NaN,NaN,NaN
4,2918666,-32,-32,0,1.062978,-0.347992,-0.229421,NaN,NaN,NaN,NaN

In [8]:
# Remove the "Unnamed Columns"

Accel_1_26_05_copy.drop(labels=['Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1, inplace=True)

In [9]:
# View Data frame.
Accel_1_26_05_copy.head()

      Time    X    Y    Z       X_f        Y_f       Z_f
0  2918276    0  -32    0  1.068721  -0.504631 -0.231132
1  2918374    0   64   64  1.067315  -0.442127 -0.089711
2  2918471   64  -32   32  1.150048  -0.472716 -0.019123
3  2918569  -32  160  -96   1.10647  -0.317224 -0.229926
4  2918666  -32  -32    0  1.062978  -0.347992 -0.229421

In [10]:
# Remove NaNs of the data frame.

Accel_1_26_05_copy.dropna(axis=0, inplace=True)

In [11]:
# Check data info, data types and NaNs

print(Accel_1_26_05_copy.info())
print(Accel_1_26_05_copy.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218 entries, 0 to 233
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    218 non-null    object
 1   X       218 non-null    object
 2   Y       218 non-null    object
 3   Z       218 non-null    object
 4   X_f     218 non-null    object
 5   Y_f     218 non-null    object
 6   Z_f     218 non-null    float64
dtypes: float64(1), object(6)
memory usage: 13.6+ KB
None
Time    0
X       0
Y       0
Z       0
X_f     0
Y_f     0
Z_f     0
dtype: int64

In [12]:
# Check Tail of data.

Accel_1_26_05_copy.head()

      Time    X    Y    Z       X_f        Y_f       Z_f
0  2918276    0  -32    0  1.068721  -0.504631 -0.231132
1  2918374    0   64   64  1.067315  -0.442127 -0.089711
2  2918471   64  -32   32  1.150048  -0.472716 -0.019123
3  2918569  -32  160  -96   1.10647  -0.317224 -0.229926
4  2918666  -32  -32    0  1.062978  -0.347992 -0.229421

In [13]:
# Data are still labelled as 'Object' data type.
# Thus some data points are not NaNs but are not relevant data.

# Using David's formula to check what isn't an integer in column Time/X/Y/Z/X_f/Y_f.

def check_int(value):
    try:
        int(value)
        return 'int' # if value is an integer, show 'int'
    except ValueError:
        return value # if value is not an integer, show the value
    
# run the function on the X column
X_int_check = Accel_1_26_05_copy['X'].apply(check_int)

X_int_check.loc[lambda x : x != 'int']

134    � �7 ����0002930415 [app] INFO: ACCEL:\t
Name: X, dtype: object

In [14]:
# Drop values from column X column using index.

Accel_1_26_05_copy.drop(index=134, inplace=True)

In [15]:
Accel_1_26_05_copy.head()

      Time    X    Y    Z       X_f        Y_f       Z_f
0  2918276    0  -32    0  1.068721  -0.504631 -0.231132
1  2918374    0   64   64  1.067315  -0.442127 -0.089711
2  2918471   64  -32   32  1.150048  -0.472716 -0.019123
3  2918569  -32  160  -96   1.10647  -0.317224 -0.229926
4  2918666  -32  -32    0  1.062978  -0.347992 -0.229421

In [16]:
# Run the function for Y column

Y_int_check = Accel_1_26_05_copy['Y'].apply(check_int)

Y_int_check.loc[lambda x : x != 'int']

# Observation: No abnormal data

Series([], Name: Y, dtype: object)

In [17]:
# Run the function for Z column

Z_int_check = Accel_1_26_05_copy['Z'].apply(check_int)

Z_int_check.loc[lambda x : x != 'int']

# Observation: No abnormal data.

Series([], Name: Z, dtype: object)

In [18]:
# Run the function for X_f column

X_f_int_check = Accel_1_26_05_copy['X_f'].apply(check_int)

X_f_int_check.loc[lambda x : x != 'int']

# Observation: No abnoraml data.

0        1.068721
1        1.067315
2        1.150048
3         1.10647
4        1.062978
          ...
229     -15.81442
230    -18.281284
231    -16.682217
232    -17.735546
233    -19.067039
Name: X_f, Length: 217, dtype: object

In [19]:
# Run the function for Y_f column.

Y_f_int_check = Accel_1_26_05_copy['Y_f'].apply(check_int)

Y_f_int_check.loc[lambda x : x != 'int']

# Observation: No abnormal data.

0      -0.504631
1      -0.442127
2      -0.472716
3      -0.317224
4      -0.347992
         ...
229    -3.397115
230    -1.684881
231    -3.495255
232    -0.738091
233    -1.354533
Name: Y_f, Length: 217, dtype: object

In [20]:
# Run the function for Time column.

Time_int_check = Accel_1_26_05_copy['Time'].apply(check_int)

Time_int_check.loc[lambda x : x != 'int']

# Observation: abnormal data found at row 42,83,161 and 202.

43                �
90

0002926564
177               �
219               �
Name: Time, dtype: object

In [21]:
# Drop values from Time column using index.

Accel_1_26_05_copy.drop(index=[43,90,177,219], inplace=True)

In [22]:
pd.set_option("display.max_rows", None)

print(Accel_1_26_05_copy)

            Time       X      Y      Z         X_f         Y_f        Z_f
0        2918276       0    -32      0    1.068721   -0.504631  -0.231132
1        2918374       0     64     64    1.067315   -0.442127  -0.089711
2        2918471      64    -32     32    1.150048   -0.472716  -0.019123
3        2918569     -32    160    -96     1.10647   -0.317224  -0.229926
4        2918666     -32    -32      0    1.062978   -0.347992  -0.229421
5        2918764      32     32      0    1.103594   -0.316589  -0.228919
6        2918861      64    -64    -32     1.18611   -0.378393  -0.298374
7        2918959     -96      0    -32    1.058615   -0.378025  -0.367570
8        2919056       0     96      0    1.057225   -0.284554  -0.366769
9        2919154     -32    -64     64    1.013887   -0.346407  -0.226795
10       2919251      32     64    -32    1.054484   -0.283922  -0.295828
11       2919349      32     32      0    1.094999   -0.252563  -0.295187
12       2919446     704   1120   -384    2.014637     0.83526  -1.125783
13       2919544    -224   -160     64    1.715173     0.67574  -0.984034
14       2919641    -320   -192     96    1.287552    0.484215  -0.773129
15       2919739     -32     96     64    1.243081    0.579431  -0.632305
16       2919836      32   -192     96    1.284143    0.387282  -0.422400
17       2919934     160   -160     32    1.495887    0.226797  -0.351989
18       2920031     -96    -32     96    1.365579    0.194479  -0.143062
19       2920129      96    -32     64    1.492139    0.162206  -0.004010
20       2920226      32      0     64    1.532962    0.162043   0.134617
21       2920324      32    -32     64      1.5737    0.129846   0.272822
22       2920421     -64    -96      0    1.486084    0.033646   0.272232
23       2920519     -32     32      0    1.441342    0.065665   0.271645
24       2920616      64    128    -32    1.524872    0.193764   0.202171
25       2920714     -96   -128     32    1.394665    0.065206   0.270522
26       2920811     -64      0     32    1.307302     0.06514   0.338623
27       2920909    -224   -288     32    1.006316   -0.223905   0.406475
28       2921006    -192     32    160    0.747665   -0.191418   0.747978
29       2921104    -224      0    160    0.445721   -0.191225   1.089106
30       2921201     160    128   -160    0.660753   -0.062163   0.743686
31       2921299     -32   -160   -160    0.616655   -0.223437   0.398639
32       2921396    -128     96     96    0.443121   -0.126198   0.604071
33       2921494     -32    -64    160    0.399294   -0.190805   0.946505
34       2921591     160    -32    -96    0.614744   -0.222987   0.738018
35       2921689      32      0    128     0.65719   -0.222762   1.011641
37       2921786     -32      0     96    0.613056   -0.222537   1.215952
38       2921884     -64    -32      0    0.525797   -0.254611   1.213338
39       2921981     224    192     32    0.827577   -0.060635   1.279400
40       2922079    -128   -192      0    0.653067    -0.25484   1.276659
41       2922176     -64    -64      0    0.565381    -0.31952   1.273929
42       2922274      64    -32    -32    0.651409   -0.351673   1.000000
44       2922469     -96     96    160    0.519639   -0.221168   1.537966
45       2922566     -64    -96    -32    0.432215   -0.318392   1.466594
46       2922664     -32    -64     32    0.388272   -0.383092   1.531478
47       2922761     -32   -128     96     0.34442   -0.512783   1.731919
48       2922859      96    256     96    0.473842   -0.251702   1.931889
49       2922956      64    -96    -64    0.559841   -0.349555   1.792062
50       2923054     -64     64     96     0.47245   -0.283732   1.991695
51       2923152    -256    -64    -32    0.125302   -0.348925   1.919682
52       2923249     -32      0      0    0.081655   -0.348568   1.915621
53       2923347     -64      0    320   -0.005347   -0.348211   2.587141
54       2923444     224    192    -64    0.298755   -0.151757   2.445971
55       2923542       0    -96      0    0.298348   -0.249927   2.440790
56       2923639      64     96     96    0.384979   -0.151258   2.638576
57       2923737     -32     64     32    0.340941   -0.085435   2.700631
58       2923834      32    -32     32    0.383961    -0.11819   2.762460
59       2923932       0     64    160     0.38344    -0.05241   3.093769
60       2924029       0    -64      0     0.38292   -0.118032   3.087244
61       2924127     -32     64      0    0.339067   -0.052218   3.080745
62       2924224     -32    -32     32    0.295303   -0.085019   3.141494
63       2924322       0     32     32    0.294904    -0.05209   3.202023
64       2924419      96      0     32    0.424153   -0.052037   3.262333
65       2924517     -64      0     32      0.3371   -0.051984   3.322426
66       2924614     -32   -160    -64    0.293407   -0.215739   3.181863
67       2924712      32    -64      0    0.336218   -0.281184   3.175224
68       2924809    -320   -256    352   -0.095992   -0.543624   3.901528
69       2924907     -64     32    -32   -0.182648   -0.510089   3.826411
70       2925004    -288     32   -128   -0.572909   -0.476601   3.550972
71       2925102      96    -32     64   -0.441389    -0.50906   3.677343
72       2925199     -32    256     64   -0.484392   -0.245042   3.803339
73       2925297      32    -64    -64   -0.440159   -0.310931   3.661843
74       2925394     -64   -128    -32   -0.526644   -0.442928   3.587476
75       2925492      96     96      0   -0.395314   -0.343081   3.580006
76       2925589     -32    -64   -128   -0.438338   -0.409043   3.306545
78       2925687      32    -64     64   -0.394211   -0.474953   3.432752
80       2925784       0    -96    -96   -0.393675   -0.573985   3.226168
81       2925882       0     32   -128   -0.393141   -0.540186   2.953555
82       2926028     160    128      0   -0.175695   -0.406862   2.947416
83       2926174     -32      0     64   -0.218919    -0.40644   3.074061
84       2926272     -96    -32   -128   -0.348916   -0.439225   2.802398
87   20002926369      32     64    -32   -0.304986   -0.372382   2.730228
91       2926662      64      0    -32    -0.64989   -0.636604   2.052619
92       2926759      64     64    -64   -0.561845   -0.569406   1.915793
93       2926857      96      0     32    -0.43035   -0.568814   1.978065
94       2926954     -32      0     64   -0.473365   -0.568223   2.106257
95       2927052     -96    384     96   -0.603429   -0.169135   2.300164
96       2927149       0      0     64   -0.602607   -0.168959   2.427561
97       2927247     160     64     32   -0.384115   -0.101995   2.488570
99       2927344     -64     32     32   -0.470821   -0.068487   2.549365
101      2927442     -96    -64     64   -0.601011   -0.135192   2.675770
102      2927539      32      0    -64   -0.556557   -0.135051   2.538731
103      2927637      64    -32    -96   -0.468592   -0.168271   2.336350
104      2927734       0    -64    128   -0.467954   -0.234792   2.594418
105      2927832      32      0    -64   -0.423776   -0.234547   2.457595
106      2927929     -64      0     32    -0.51022   -0.234303   2.518248
107      2928027      32    -32      0    -0.46602   -0.267346   2.513085
108      2928124     -64      0      0   -0.552338   -0.267068   2.507943
109      2928222     -64      0      0   -0.638531    -0.26679   2.502822
110      2928319     -32      0      0   -0.681132   -0.266513   2.497722
111      2928417      64    -32    -32   -0.593335   -0.299407   2.427560
113      2928422     -32    -32    160   -0.635963   -0.332254   2.747603
114      2928660       0      0    128     -0.6351    -0.33191   3.002284
115      2928758    -128   -128    128   -0.807613   -0.464004   3.256566
116      2928856      32    -64    -64   -0.763123   -0.529842   3.119683
118      2928953       0      0    -96   -0.762089   -0.529293   2.918092
120      2929050      32    -32    -32   -0.717751   -0.561878   2.847079
121      2929148     -32     32     32   -0.760057   -0.528177   2.906288
122      2929245       0     64     96    -0.75903   -0.461416   3.095087
123      2929343     -64    -96    -32   -0.844379   -0.560286   3.023924
124      2929440      64     32      0   -0.756873   -0.526561   3.017801
125      2929538      32     64     96   -0.712671   -0.459752   3.205723
126      2929635    -128      0     32   -0.884314   -0.459276   3.263908
127      2929733     -96     32     64   -1.012727   -0.425695   3.386461
128      2929830      64      0      0   -0.924907   -0.425255   3.379634
129      2929928     -32     64   -160   -0.966881   -0.358696   3.050871
130      2930025      32      0    128   -0.922384   -0.358326   3.302615
131      2930123      64     64     32   -0.834815   -0.291888   3.360461
132      2930220       0    -64      0   -0.833689   -0.357671   3.353697
135      2930513     -64    -32     32   -0.830439   -0.356586   3.013302
136      2930610     -32      0    -32   -0.872362   -0.356219   2.943067
137      2930708     -32      0      0   -0.914198   -0.355852   2.937171
138      2930805      32     64    -32   -0.869992    -0.28964   2.867316
139      2930903      64     96    -64   -0.782928   -0.190547   2.733792
140      2931000      96     32     64   -0.653038    -0.15739   2.856051
141      2931098       0    -64     32   -0.652161   -0.223124   2.914163
142      2931195     -64      0      0   -0.737116   -0.222894   2.908361
143      2931293     -32      0     32   -0.779039   -0.222665   2.966176
144      2931439      32     32    -64   -0.735114   -0.189547   2.833278
145      2931537       0      0    128    -0.73413   -0.189353   3.081517
146      2931634     -96    -32      0   -0.861532   -0.222001   3.075402
147      2931732      32      0      0    -0.81756   -0.221773   3.069311
149      2931829     -32    -96     96   -0.859257   -0.319935   3.253006
150      2931927       0    -32     32   -0.858109   -0.352432   3.309823
151      2932024      32     64      0   -0.814261   -0.286445   3.303290
152      2932122      32      0      0   -0.770501   -0.286152   3.296783
153      2932219      96      0    128   -0.641539   -0.285858   3.541972
154      2932317     -32      0    -64   -0.683354   -0.285566   3.409103
155      2932414    -192   -448     96   -0.938286   -0.743367   3.591136
156      2932512     224     64     64   -0.637808   -0.676641   3.709884
157      2932609     320   -480   -128   -0.208142   -1.170772   3.451171
158      2932707      96    -32     32   -0.078567   -1.202825   3.507286
159      2932804       0     96     64   -0.078461   -1.101807   3.626023
160      2932902     -64   -640    192   -0.164485   -1.766382   3.995490
161      2932999    -480   -160    160   -0.810192   -1.932903   4.302019
162      2933097     192    288    -64   -0.548596   -1.627143   4.167660
163      2933194      96   -256   -288   -0.417277   -1.896672   3.593277
164      2933292      64    256    128   -0.329611   -1.622311   3.838796
165      2933389     192     96     32   -0.067888   -1.518032   3.894402
166      2933487    -192   -544    352   -0.329717   -2.098014   4.580777
167      2933633    3872   6272  -4832    4.965844    4.675242  -5.003087
168      2933730   -2624  -9088   2720    1.097893   -6.359165   0.906087
169      2933828       0  -6976  -9024    1.096196  -16.340967 -19.683949
170      2933925  -12096  13824  -2784  -17.580429    6.207171 -27.108997
171      2934023    3264   1472  -2368  -11.300284    9.249871 -33.725582
172      2934120   -2976   2208   -288  -17.334066   13.937836 -34.475723
173      2934218     768   1088   -192  -15.644619   16.323242 -34.941422
174      2934316     128    576    -96  -15.331435   17.590067 -35.121967
175      2934413    -448    -32    416  -16.275415   17.476824 -33.790356
178      2934754   -1888   1824   1312  -20.456379   20.590296 -29.413603
179      2934852    1248  -3072  -5984   -17.57132     13.2675 -47.478916
180      2934949     384   -416    160  -16.636969   12.190896 -46.776878
181      2935047       0    416  -1088   -16.59804   13.209767 -50.302670
182      2935144     288    224   -160  -15.886727   13.744558 -50.680557
183      2935242    -352    -64    -96  -16.674566   13.546987 -50.836479
184      2935339     -32    256      0  -16.710646   14.162523 -50.662018
185      2935437       0    192   -160  -16.671387   14.615049 -51.036339
186      2935534    -128    -96     64  -16.932411   14.333296 -50.642998
187      2935632      64    160    -64  -16.742678   14.704205 -50.688618
188      2935729    -224   -192      0  -17.228207   14.177688 -50.516037
189      2935827    -288   -224    -32  -17.863663   13.570047 -50.453144
190      2935924    -192   -224    160  -18.273577   12.962627 -49.740479
191      2936022       0    -32   -128  -18.230513   12.847417 -50.005707
192      2936119     160    256   -192  -17.811327   13.469429 -50.486057
193      2936217     384    256    736  -16.865158   14.091269 -47.826923
194      2936314      96   -320    128  -16.597887   13.232728 -47.225163
195      2936460     160  -1536    224  -16.179741    9.235282 -46.296829
196      2936558     -64   -704    448    -16.2931    7.342951 -44.601635
197      2936704    1312  -1856   -416  -13.148808     2.34213 -45.883499
198      2936802      32    608   1280  -13.039359    4.023484 -41.289257
199      2936899    -544   -512  -1280  -14.324538    2.577672 -45.679646
200      2936997    -640   -320  -1344   -15.85132    1.667113 -50.378246
201      2937143    -160   -448    192  -16.206598    0.393241 -49.481636
202      2937241     -96    640   -288  -16.403343    2.216282 -50.364964
203      2937387    -320    256    256   -17.15126    2.946774 -49.229191
204      2937484    -480    640    288  -18.295586    4.784461 -47.976009
205      2937582      32   -256    -64  -18.170399    4.024819 -48.035736
206      2937679     608    288      0  -16.614153      4.8539 -47.857304
207      2937777    -128     64   -704  -16.893747    5.027053 -50.287903
208      2937874    -992    -64   -352  -19.340704    4.825326 -51.415989
209      2937972    -608    928   1504  -20.842867     7.51909 -45.587193
210      2938069    -992   -160    736  -23.343821     7.02273 -42.578770
211      2938215    -320   -128   -160  -24.120579    6.622506 -43.036015
212      2938362    -160   -128    160  -24.477533    6.223577 -42.246605
213      2938508      96   -224    128  -24.161013    5.541541 -41.584576
214      2938605      32   -224   -448  -24.013498    4.860422 -43.164200
215      2938703      96     32    -96  -23.698742    4.941082 -43.370419
216      2938800      32   -160   -448  -23.552696    4.452055 -44.945210
217      2938898     224     96    224  -22.904572     4.72357 -43.894146
220      2939239     832    288   1664  -21.938572    5.440173 -35.691368
221      2939337     288    288    640  -21.101549    6.281472 -32.909252
222      2939483     160      0    192  -20.610767     6.26272 -31.974588
223      2939580    -192   -576     96  -21.075647    4.529444 -31.442589
224      2939678    -288   -384    -64  -21.800169    3.362916 -31.577715
225      2939776     544    192    224  -20.260403    3.931963 -30.520660
226      2939873     416   -192    384  -19.063026    3.340472 -28.804598
227      2939971     320   -128    736  -18.126892    2.943622 -25.625425
228      2940068       0   -736     32  -18.076645    0.711776 -25.383244
229      2940166     800  -1344  -1312   -15.81442   -3.397115 -30.774044
230      2940263    -896    544   -608  -18.281284   -1.684881 -33.244183
231      2940361     544   -576    576  -16.682217   -3.495255 -30.618296
232      2940458    -384    864    160  -17.735546   -0.738091 -29.790318
233      2940556    -480   -192    640  -19.067039   -1.354533 -26.882576

In [23]:
# By looking at the full data frame above. We can see that at Index 87, the Time value is unusually high. 
# Therefore it needs to be dropedd as well 

# Dropv values from Time column using index.

Accel_1_26_05_copy.drop(index=87, inplace=True)

In [24]:
# Get data info.
Accel_1_26_05_copy.info()

# Observation: 
# All abnormal data and NaNs have been removed but the data types for Time/X/Y/Z/X_f/Y_f are still object.
# Thus I update the data type myself.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 233
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    212 non-null    object
 1   X       212 non-null    object
 2   Y       212 non-null    object
 3   Z       212 non-null    object
 4   X_f     212 non-null    object
 5   Y_f     212 non-null    object
 6   Z_f     212 non-null    float64
dtypes: float64(1), object(6)
memory usage: 13.2+ KB

In [25]:
# Convert the data type of each column from object to integer or float.

Accel_1_26_05_copy = Accel_1_26_05_copy.astype({'Time':int, 'X':int, 'Y':int, 'Z':int, 'X_f':float, 'Y_f':float})

In [26]:
Accel_1_26_05_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 233
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    212 non-null    int64
 1   X       212 non-null    int64
 2   Y       212 non-null    int64
 3   Z       212 non-null    int64
 4   X_f     212 non-null    float64
 5   Y_f     212 non-null    float64
 6   Z_f     212 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 13.2 KB

In [27]:
# Save the data frame.
Accel_1_26_05_copy.to_csv('Accel_1_26_05_cleaned.csv')

## Accel_2_26_05

In [28]:
# Load and preview the data.

Accel_2_26_05 = pd.read_csv('accel_2_26_05_2022.csv')

Accel_2_26_05.head()

      Time    X   Y   Z        X_f        Y_f        Z_f
0  3002645   32  64  64 -25.849033  12.145277 -52.598858
1  3002743  -64  96  96 -25.972031  12.371145 -51.784473
2  3002889  -64  32  64 -26.094332  12.423964 -51.151520
3  3002986  -32  32 -32 -26.113277  12.476519 -51.047153
4  3003084  128  64  64 -25.620377  12.614525 -50.423370

In [29]:
# Check data type and info.

Accel_2_26_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    264 non-null    object
 1   X       264 non-null    int64
 2   Y       264 non-null    int64
 3   Z       264 non-null    int64
 4   X_f     264 non-null    float64
 5   Y_f     264 non-null    float64
 6   Z_f     264 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 14.6+ KB

In [30]:
# Check for missing values.
Accel_2_26_05.isna().sum()

Time    0
X       0
Y       0
Z       0
X_f     0
Y_f     0
Z_f     0
dtype: int64

In [31]:
# Create a copy of the original dataframe.

Accel_2_26_05_copy = Accel_2_26_05.copy()

In [32]:
# Check for non integer values in Time Column.

Time_int_check = Accel_2_26_05_copy['Time'].apply(check_int)

Time_int_check.loc[lambda x : x != 'int']

# Observation: At row 53, data is abnormal.

53    �0003008
Name: Time, dtype: object

In [33]:
# Remove abnormal data in Time column using index.

Accel_2_26_05_copy.drop(index=53, inplace=True)

In [34]:
pd.set_option('display.max_rows', None)
print(Accel_2_26_05_copy)

        Time     X     Y      Z        X_f        Y_f         Z_f
0    3002645    32    64     64 -25.849033  12.145277  -52.598858
1    3002743   -64    96     96 -25.972031  12.371145  -51.784473
2    3002889   -64    32     64 -26.094332  12.423964  -51.151520
3    3002986   -32    32    -32 -26.113277  12.476519  -51.047153
4    3003084   128    64     64 -25.620377  12.614525  -50.423370
5    3003181   -96   -96     64 -25.845444  12.324079  -49.804901
6    3003328     0   -64   -160 -25.762939  12.120084  -50.398663
7    3003425    64   -64      0 -25.477163  11.916867  -50.127964
8    3003523    32   -32     32 -25.294430  11.799758  -49.688759
9    3003620   -32    64    128 -25.315704  11.938707  -48.742023
10   3003718     0    32      0 -25.235626  11.992022  -48.482788
11   3004010    64    64    -32 -25.076683  12.013341  -48.309109
12   3004108   128     0    -64 -24.595558  11.981594  -48.391384
13   3004205    96    64    -64 -24.216557  12.118731  -48.472824
14   3004303    64     0    -32 -23.939518  12.086833  -48.387291
15   3004400     0   -64    -32 -23.864441  11.887042  -48.302616
16   3004498   -32  -128    -32 -23.889887  11.520129  -48.218784
17   3004595   -32    64      0 -23.915178  11.657803  -47.972019
18   3004693   -32    96     32 -23.940317  11.878715  -47.564445
19   3004790    32    32    -32 -23.766890  11.931368  -47.485397
20   3004888     0    96    -32 -23.693354  12.150871  -47.407124
21   3004985    96     0     32 -23.323980  12.119175  -47.007652
22   3005083    64   -32    -32 -23.054688  12.004358  -46.932411
23   3005180   -64   128     32 -23.180788  12.305709  -46.538548
24   3005278    32    64    -32 -23.011230  12.439970  -46.466248
25   3005375    96     0    -32 -22.646255  12.407711  -46.394642
26   3005473    32   -32    -32 -22.478786  12.292825  -46.323723
27   3005570     0    32      0 -22.410034  12.343722  -46.096550
28   3005668    64    64    -32 -22.146431  12.476844  -46.027695
29   3005765   -64   -32     32 -22.273941  12.362401  -45.648308
30   3005863   128    64     64 -21.817131  12.495046  -45.116928
31   3006009   -32    64     64 -21.848083  12.627147  -44.589527
32   3006106     0    64    -32 -21.781858  12.758706  -44.528839
33   3006204     0     0     96 -21.716005  12.726083  -43.854492
34   3006301    64    32     32 -21.457531  12.775252  -43.491219
35   3006399   -64   -64    128 -21.585649  12.579816  -42.672615
36   3006496   -32   -64      0 -21.616945  12.385074  -42.469196
37   3006594    32   -32    128 -21.456272  12.272317  -41.659740
38   3006691     0     0    -64 -21.392097  12.241192  -41.765678
39   3006789   -64   -32   -128 -21.519209  12.129243  -42.172852
40   3006886    64     0      0 -21.264624  12.098601  -41.974319
41   3007033    64   -64    -32 -21.011118  11.906794  -41.927544
42   3007130    64     0      0 -20.758688  11.876812  -41.731804
43   3007228    32   -32    -32 -20.602226  11.766582  -41.686543
44   3007325   -32   -64      0 -20.635963  11.576547  -41.493530
45   3007423    64    96     32 -20.386127  11.788084  -41.154537
46   3007520     0    32    -32 -20.326025  11.838687  -41.112442
47   3007618     0   -32    -32 -20.266253  11.729161  -41.070728
48   3007715     0     0     32 -20.206806  11.699904  -40.737682
49   3007813   -64   128     96 -20.334940  11.989341  -40.116379
50   3007910    32  -128    -64 -20.182129  11.641007  -40.224705
51   3008008   -32    64    -32 -20.216572  11.771331  -40.187553
52   3008105     0    32    -32 -20.157810  11.821609  -40.150730
54   3008300   -32     0    -96 -19.948805  11.604722  -39.223408
55   3008398     0   -64   -128 -19.891190  11.417801  -39.619953
56   3008544     0   -96   -128 -19.833883  11.152482  -40.013664
57   3008641   -64    32    -32 -19.960812  11.203958  -39.978062
58   3008739  -128     0    -32 -20.270685  11.176350  -39.942768
59   3008836    32     0    -64 -20.120871  11.148871  -40.048740
60   3008934   -64   -32    -32 -20.246405  11.043022  -40.013424
61   3009031    32    32    -32 -20.097229  11.094351  -39.978409
62   3009129    32    32      0 -19.948748  11.145450  -39.804459
63   3009226    64    32    -32 -19.709919  11.196321  -39.770622
64   3009324     0   -32     32 -19.653912  11.091164  -39.460743
65   3009421   -32    32    -32 -19.688910  11.141984  -39.428623
66   3009519    64   -32      0 -19.452291  11.037334  -39.259579
67   3009616   -32     0    160 -19.487728  11.010603  -38.408257
68   3009714   -64   -64     32 -19.613111  10.829333  -38.107533
69   3009811   -32    64   -128 -19.647936  10.957706  -38.490379
70   3009909     0    64    -64 -19.592838  11.085597  -38.598755
71   3010007    32   -64   -128 -19.448507  10.904802  -38.977158
72   3010104   -32    96      0 -19.483559  11.109513  -38.812584
73   3010201     0    96     64 -19.429287  11.313587  -38.379967
74   3010299    32   -64     96 -19.286375  11.132664  -37.815735
75   3010396     0     0    -32 -19.232876  11.105944  -37.791351
76   3010494   -64    32     32 -19.356762  11.155983  -37.499947
77   3010591   -64   -32    128 -19.480074  11.052833  -36.810837
78   3010689    32   -32      0 -19.338142  10.950086  -36.657696
79   3010786     0    32     64 -19.284920  11.000245  -36.240368
80   3010884   -32     0    -64 -19.319832  10.974084  -36.355213
81   3010981  -128   -32      0 -19.617500  10.872102  -36.205341
82   3011079   -32   -96    -96 -19.651396  10.618867  -36.451004
83   3011176   -64   -32     32 -19.772493  10.517905  -36.170593
84   3011274    32    64     64 -19.631384  10.644409  -35.761360
85   3011371     0   -96      0 -19.577969  10.392484  -35.615566
86   3011469     0    64     32 -19.524822  10.519091  -35.340832
87   3011566    32   -64    -64 -19.385275  10.343323  -35.456966
88   3011664   -64     0      0 -19.505903  10.318947  -35.313786
89   3011761   -64    32    -64 -19.625988  10.369932  -35.429241
90   3011859   -32   -32    -32 -19.659325  10.270486  -35.415485
91   3011956    64     0      0 -19.434494  10.246416  -35.273994
92   3012054    96    96    -32 -19.124584  10.446958  -35.260956
93   3012151   -32   -32      0 -19.159138  10.347754  -35.121094
94   3012249   -32    32      0 -19.193516  10.398283  -34.982239
95   3012255   -64     0    -64 -19.313183  10.374063  -35.096592
96   3012444   -64    32     64 -19.432318  10.424328  -34.707378
97   3012541   -32     0     32 -19.465763  10.400145  -34.445889
98   3012639     0   -32      0 -19.414083  10.301989  -34.311211
99   3012736   -64   -96     64 -19.532187  10.056260  -33.928062
100  3012834   -32     0      0 -19.565155  10.033018  -33.796089
101  3012931   -64    64    -64 -19.682371  10.157482  -33.913200
102  3013029    32    64     96 -19.546274  10.281507  -33.411129
103  3013126    32   -32      0 -19.410753  10.184232  -33.282169
104  3013224     0   -64    -64 -19.359802  10.013808  -33.400356
105  3013321   -64     0      0 -19.476717   9.990822  -33.272263
106  3013419    64   -64    -96 -19.258465   9.821336  -33.512070
107  3013516    32     0      0 -19.124575   9.798857  -33.384281
108  3013614   -96     0      0 -19.325060   9.776476  -33.257381
109  3013760   -96   -32     96 -19.524807   9.681257  -32.767578
110  3013858    32    64    -96 -19.390722   9.804884  -33.006897
111  3013955     0    32    -64 -19.340340   9.855339  -33.123905
112  3014053    64    64      0 -19.124279   9.978198  -32.999249
113  3014150     0    32     32 -19.074745  10.028109  -32.755390
114  3014248   -32   -32   -128 -19.108149   9.933030  -33.111847
115  3014345   -32   -32     64 -19.141390   9.838302  -32.749069
116  3014443    32   -32     32 -19.009832   9.743921  -32.507622
117  3014540     0    32    -64 -18.961006   9.794056  -32.624771
118  3018496   -32     0   -128 -18.994423   9.772033  -32.978466
119  3018545   -96   -32     64  -3.072146   0.305121    1.008023
120  3018691   -32   -32     32  -3.114052   0.268404    1.072766
121  3018789    32     0      0  -3.063229   0.268099    1.070529
122  3018935    32   -32      0  -3.012517   0.231484    1.068300
123  3019033   -32     0     96  -3.054410   0.231221    1.265511
124  3019130     0   -64    -32  -3.049999   0.158454    1.196418
125  3019277   -64   -32     32  -3.137888   0.122016    1.260307
126  3019374   -64   -32     32  -3.225630   0.085638    1.323971
127  3019520   -64    64    160  -3.313225   0.157986    1.652122
128  3019618     0    32    -32  -3.308451   0.194035    1.582452
129  3019715    32    96     64  -3.257641   0.302445    1.711496
130  3019813    32   -64      0  -3.206942   0.229626    1.707960
131  3019910   -32     0     64  -3.248315   0.229366    1.836378
132  3020008     0     0     64  -3.243652   0.229106    1.964427
133  3020154    32   -32    -32  -3.193122   0.192685    1.894522
134  3020252    32  -128   -128  -3.142703   0.047890    1.627544
135  3020349   -64   -32    -32  -3.229827   0.011640    1.558390
136  3020447    64     0      0  -3.133600   0.011626    1.555190
137  3020544  -768  -320   -320  -4.228265  -0.349762    0.896174
138  3020642   736  -960   -192  -3.154217  -1.439191    0.499117
139  3020739   352     0    416  -2.632039  -1.437528    1.355913
140  3020837   768   512     96  -1.492629  -0.844823    1.552290
141  3020934   448  -128    128  -0.818805  -0.992944    1.814607
142  3021032     0   -32    256  -0.817568  -1.029113    2.342155
143  3021129   512     0    160  -0.044231  -1.027913    2.670344
144  3021275   288   288    128   0.393932  -0.691337    2.931514
145  3021373  -160   288    160   0.148915  -0.353605    3.258960
146  3021519   -64  -224   -448   0.050758  -0.616444    2.317220
147  3021617   -32     0    192   0.001728  -0.615717    2.715806
148  3021714   -96   384     32  -0.145002  -0.162742    2.777445
149  3021812  -160  2144   1504  -0.389420   2.378921    5.932515
150  3021909 -3712  2240   5920  -6.073900   5.141698   18.707447
151        3  -480 -2112   -224  -6.852336   2.414211   18.122578
152  3022202   -96   -32   -192  -6.671624   2.664673   16.798016
153  3022299  -224  -320     64  -7.032256   2.230917   16.912729
154  3022305    64   160      0  -6.914071   2.444085   16.871687
155  3022543   -64  -480    320  -7.009028   1.791064   17.605749
156  3022640  1184   544  -1728  -5.028916   2.531051   13.363259
157  3022738  -960  -992    832  -6.651660   1.160923   15.417154
158  3022835 -1056   736  -1344  -8.465692   2.191971   11.959458
159  3022933  1152    96    160  -6.421076   2.325337   12.345231
160  3023079  -320   -32     32  -6.985374   2.276515   12.396466
161  3023177   160   288   -128  -6.683539   2.682609   12.031295
162  3023323     0  -160    128  -6.671440   2.450402   12.332990
163  3023420  -160  -192    128  -6.948547   2.172345   12.633814
164  3023518    96   -64      0  -6.762258   2.077489   12.600965
165  3023615  -256    64    128  -7.213374   2.166243   12.900302
166  3023713   128  -192     96  -6.967866   1.887998   13.115793
167  3023810    64   -64      0  -6.838896   1.793348   13.081814
168  3023908   352   192   -128  -6.187038   2.066551   12.717155
169  3024054  1152   -96   -192  -4.071873   1.925361   12.187896
170  3024152  1184  1056   -960  -1.856010   3.443739    9.670720
171  3024249 -2112   -96    544  -5.877458   3.297687   11.077385
172  3024347    64   992    608  -5.738943   4.750536   12.661410
173  3024444  -128  -128    480  -5.981154   4.551907   13.913010
174  3024542   480  -320    192  -5.017936   4.065731   14.393112
175  3024639    96   160     64  -4.816175   4.300481   14.526961
176  3024737   672   -64   -512  -3.464362   4.197494   13.108713
177  3024834   -64   -64     32  -3.586659   4.094676   13.159995
178  3024932     0   -96    -32  -3.579419   3.943791   13.037691
179  3025029  -160  -160    128  -3.894560   3.696536   13.348475
180  3025127    64     0    128  -3.757622   3.690952   13.658293
181  3025224   -64   288    -96  -3.879046   4.119876   13.362091
182  3025370   192   128     64  -3.484553   4.307547   13.498800
183  3025468    32  -320     64  -3.412954   3.815771   13.634911
184  3025565  -192   -64    800  -3.792981   3.712427   15.750751
185  3025663    64  -640    736  -3.656131   2.731642   17.713812
186  3025760     0  -224    256  -3.648756   2.382276   18.370806
187  3025858  -288    64    544  -4.221267   2.477504   19.822937
188  3025955  -480   -32    704  -5.182698   2.424237   21.727634
189  3026053  -288    64   -128  -5.758465   2.519289   21.306290
190  3026150     0  -192     64  -5.746700   2.219111   21.426455
191  3026248   352    96     64  -5.017172   2.364170   21.546045
192  3026345  -128   -32    128  -5.269239   2.310999   21.844496
193  3026687    32   192   -256  -5.629159   2.794449   23.077511
194  3026784   352  -352    224  -4.896701   2.244318   23.646936
195  3026882  -256   160     64  -5.413597   2.490280   23.761433
196  3027028    32  -256     96  -5.336354   2.086619   23.965984
197  3027125  -288   224    544  -5.919164   2.434407   25.436483
198  3027223   384  -128      0  -5.112337   2.229402   25.364016
199  3027418   768   -32     32  -3.503480   2.175548   25.382877
200  3027515 -5664  2816   3744 -15.439963   6.598672   35.923798
201  3027613 -6496 -6688  -6848 -30.617216  -4.498538   15.022789
202  3027710   -96 -1856 -14624 -30.789730  -7.972054  -35.369637
203  3027808 -3328 -3712  -4576 -39.477943 -15.164339  -55.486752
204  3027905  1920   992  -4032 -33.989609 -13.068176  -74.612053
205  3028003   416   448  -3072 -32.683632 -12.091322  -90.094322
206  3028100   768   544  -1792 -30.345791 -10.904817  -99.361351
207  3028198   736  -768  -1120 -28.079103 -12.534644 -105.075806
208  3028344   544  -800   -256 -26.366224 -14.251766 -105.933167
209  3028490     0  -160    672 -26.286617 -14.573873 -101.525703
210  3028588  -544    96   -160 -27.845835 -14.329332 -101.860222
211  3028685  -160     0   -288 -28.246750 -14.297643 -102.920273
212  3028783   -96  -128    256 -28.452211 -14.548617 -100.880302
213  3028880  -256  -288    352 -29.141090 -15.152243  -98.302582
214  3028978  -288  -256    736 -29.925940 -15.685621  -93.538216
215  3029075   -96   160    512 -30.126699 -15.295544  -90.042824
216  3029173  -160  -224    384 -30.520628 -15.759528  -87.289421
217  3029270   224   160    128 -29.748962 -15.368029  -86.034447
218  3029368   -96   352     96 -29.950233 -14.548682  -84.974960
219  3029465   160   128    512 -29.374149 -14.229136  -81.508018
220  3029563   160  -384   -416 -28.799379 -15.058537  -83.462296
221  3029660   352     0   -544 -27.642763 -15.024588  -86.155159
222  3029758  -128     0   -352 -27.948967 -14.990781  -87.714729
223  3029856   224    64   -384 -27.181042 -14.813389  -89.451874
224  3029953    32   -32   -384 -27.000307 -14.851959  -91.178879
225  3030050  -128   160    -96 -27.308178 -14.460295  -91.207146
226  3030148   800   288   -544 -24.788946 -13.781946  -93.846733
227  3030245   -64  -864   -224 -24.909948 -15.696006  -94.607864
228  3030343    32    96   -544 -24.734732 -15.440858  -97.227379
229  3030440    32  -192    -96 -24.560392 -15.844151  -97.220200
230  3030538   160  -320    -32 -23.994360 -16.539757  -96.841064
231  3030635  -352    96     96 -25.000942 -16.281406  -95.725082
232  3030800  -896  -224  -6816 -27.683111 -16.758228 -134.540268
233  3031025 -1088  -288   -224 -41.068439 -13.326247 -136.735001
234  3031123   192    32    -96 -40.283325 -13.218225 -136.471497
235  3031220  1888   288   -768 -33.779446 -12.501418 -140.533722
236  3031318   704  -448    -32 -31.204052 -13.541525 -139.831345
237  3031415   384  -288    320 -29.738489 -14.201138 -136.868317
238  3031513 -2368  6688  -2752 -38.030972   1.955795 -153.764587
239  3031610  -928  1248   -768 -41.322567   5.352980 -157.912506
240  3031708   448    64    320 -39.487476   5.516402 -154.667709
241  3031805  -544   128    -96 -41.390839   5.857156 -154.268311
242  3031903    96   256     32 -40.869263   6.552828 -153.007355
243  3032000   256    64      0 -39.743454   6.712946 -151.974716
244  3032098    32  -288      0 -39.470806   5.892860 -150.952820
245  3032195  -448  -320   -384 -41.019669   4.983212 -152.514084
246  3032293   -96   256     32 -41.229019   5.686454 -151.280502
247  3032390     0   -64    -32 -41.072453   5.490793 -150.485428
248  3032396    64   -96      0 -40.674629   5.206237 -149.486649
249  3032585    32    64     64 -40.399933   5.370953 -148.074860
250  3032683     0    32    -32 -40.247585   5.445435 -147.309067
251  3032780    32   -64      0 -39.975941   5.251633 -146.341339
252  3032878   -32   128    224 -39.946022   5.593708 -143.917252
253  3032975     0    64    -64 -39.796715   5.756420 -143.393723
254  3033122    64   192     32 -39.409885   6.274429 -142.250412
255  3033268  -128     0     96 -39.739498   6.256961 -140.702042
256  3033365    32    32    -32 -39.473099   6.328438 -139.996841
257  3033463   -64   -32     32 -39.563969   6.222257 -138.885803
258  3033560   -32     0    128 -39.536034   6.205054 -137.167038
259  3033658     0   -32     64 -39.390537   6.099705 -135.872971
260  3033755  -128   -32    -32 -39.715687   5.994855 -135.206390
261  3033853   -32   -32    -32 -39.687428   5.890501 -134.546951
262  3033950   -32   -64      0 -39.659370   5.698927 -133.690964
263  3033953   -32     0      0 -39.631512   5.683327 -132.843552

In [35]:
# By looking at the data frame above we can see that in row 151 the Time value is 3. This is an unusual number, 
# that also needs to be removed.

In [36]:
# Remove abnormal value in Time column using index.
Accel_2_26_05_copy.drop(index=151, inplace=True)

In [37]:
pd.set_option('display.max_rows', None)
print(Accel_2_26_05_copy)

        Time     X     Y      Z        X_f        Y_f         Z_f
0    3002645    32    64     64 -25.849033  12.145277  -52.598858
1    3002743   -64    96     96 -25.972031  12.371145  -51.784473
2    3002889   -64    32     64 -26.094332  12.423964  -51.151520
3    3002986   -32    32    -32 -26.113277  12.476519  -51.047153
4    3003084   128    64     64 -25.620377  12.614525  -50.423370
5    3003181   -96   -96     64 -25.845444  12.324079  -49.804901
6    3003328     0   -64   -160 -25.762939  12.120084  -50.398663
7    3003425    64   -64      0 -25.477163  11.916867  -50.127964
8    3003523    32   -32     32 -25.294430  11.799758  -49.688759
9    3003620   -32    64    128 -25.315704  11.938707  -48.742023
10   3003718     0    32      0 -25.235626  11.992022  -48.482788
11   3004010    64    64    -32 -25.076683  12.013341  -48.309109
12   3004108   128     0    -64 -24.595558  11.981594  -48.391384
13   3004205    96    64    -64 -24.216557  12.118731  -48.472824
14   3004303    64     0    -32 -23.939518  12.086833  -48.387291
15   3004400     0   -64    -32 -23.864441  11.887042  -48.302616
16   3004498   -32  -128    -32 -23.889887  11.520129  -48.218784
17   3004595   -32    64      0 -23.915178  11.657803  -47.972019
18   3004693   -32    96     32 -23.940317  11.878715  -47.564445
19   3004790    32    32    -32 -23.766890  11.931368  -47.485397
20   3004888     0    96    -32 -23.693354  12.150871  -47.407124
21   3004985    96     0     32 -23.323980  12.119175  -47.007652
22   3005083    64   -32    -32 -23.054688  12.004358  -46.932411
23   3005180   -64   128     32 -23.180788  12.305709  -46.538548
24   3005278    32    64    -32 -23.011230  12.439970  -46.466248
25   3005375    96     0    -32 -22.646255  12.407711  -46.394642
26   3005473    32   -32    -32 -22.478786  12.292825  -46.323723
27   3005570     0    32      0 -22.410034  12.343722  -46.096550
28   3005668    64    64    -32 -22.146431  12.476844  -46.027695
29   3005765   -64   -32     32 -22.273941  12.362401  -45.648308
30   3005863   128    64     64 -21.817131  12.495046  -45.116928
31   3006009   -32    64     64 -21.848083  12.627147  -44.589527
32   3006106     0    64    -32 -21.781858  12.758706  -44.528839
33   3006204     0     0     96 -21.716005  12.726083  -43.854492
34   3006301    64    32     32 -21.457531  12.775252  -43.491219
35   3006399   -64   -64    128 -21.585649  12.579816  -42.672615
36   3006496   -32   -64      0 -21.616945  12.385074  -42.469196
37   3006594    32   -32    128 -21.456272  12.272317  -41.659740
38   3006691     0     0    -64 -21.392097  12.241192  -41.765678
39   3006789   -64   -32   -128 -21.519209  12.129243  -42.172852
40   3006886    64     0      0 -21.264624  12.098601  -41.974319
41   3007033    64   -64    -32 -21.011118  11.906794  -41.927544
42   3007130    64     0      0 -20.758688  11.876812  -41.731804
43   3007228    32   -32    -32 -20.602226  11.766582  -41.686543
44   3007325   -32   -64      0 -20.635963  11.576547  -41.493530
45   3007423    64    96     32 -20.386127  11.788084  -41.154537
46   3007520     0    32    -32 -20.326025  11.838687  -41.112442
47   3007618     0   -32    -32 -20.266253  11.729161  -41.070728
48   3007715     0     0     32 -20.206806  11.699904  -40.737682
49   3007813   -64   128     96 -20.334940  11.989341  -40.116379
50   3007910    32  -128    -64 -20.182129  11.641007  -40.224705
51   3008008   -32    64    -32 -20.216572  11.771331  -40.187553
52   3008105     0    32    -32 -20.157810  11.821609  -40.150730
54   3008300   -32     0    -96 -19.948805  11.604722  -39.223408
55   3008398     0   -64   -128 -19.891190  11.417801  -39.619953
56   3008544     0   -96   -128 -19.833883  11.152482  -40.013664
57   3008641   -64    32    -32 -19.960812  11.203958  -39.978062
58   3008739  -128     0    -32 -20.270685  11.176350  -39.942768
59   3008836    32     0    -64 -20.120871  11.148871  -40.048740
60   3008934   -64   -32    -32 -20.246405  11.043022  -40.013424
61   3009031    32    32    -32 -20.097229  11.094351  -39.978409
62   3009129    32    32      0 -19.948748  11.145450  -39.804459
63   3009226    64    32    -32 -19.709919  11.196321  -39.770622
64   3009324     0   -32     32 -19.653912  11.091164  -39.460743
65   3009421   -32    32    -32 -19.688910  11.141984  -39.428623
66   3009519    64   -32      0 -19.452291  11.037334  -39.259579
67   3009616   -32     0    160 -19.487728  11.010603  -38.408257
68   3009714   -64   -64     32 -19.613111  10.829333  -38.107533
69   3009811   -32    64   -128 -19.647936  10.957706  -38.490379
70   3009909     0    64    -64 -19.592838  11.085597  -38.598755
71   3010007    32   -64   -128 -19.448507  10.904802  -38.977158
72   3010104   -32    96      0 -19.483559  11.109513  -38.812584
73   3010201     0    96     64 -19.429287  11.313587  -38.379967
74   3010299    32   -64     96 -19.286375  11.132664  -37.815735
75   3010396     0     0    -32 -19.232876  11.105944  -37.791351
76   3010494   -64    32     32 -19.356762  11.155983  -37.499947
77   3010591   -64   -32    128 -19.480074  11.052833  -36.810837
78   3010689    32   -32      0 -19.338142  10.950086  -36.657696
79   3010786     0    32     64 -19.284920  11.000245  -36.240368
80   3010884   -32     0    -64 -19.319832  10.974084  -36.355213
81   3010981  -128   -32      0 -19.617500  10.872102  -36.205341
82   3011079   -32   -96    -96 -19.651396  10.618867  -36.451004
83   3011176   -64   -32     32 -19.772493  10.517905  -36.170593
84   3011274    32    64     64 -19.631384  10.644409  -35.761360
85   3011371     0   -96      0 -19.577969  10.392484  -35.615566
86   3011469     0    64     32 -19.524822  10.519091  -35.340832
87   3011566    32   -64    -64 -19.385275  10.343323  -35.456966
88   3011664   -64     0      0 -19.505903  10.318947  -35.313786
89   3011761   -64    32    -64 -19.625988  10.369932  -35.429241
90   3011859   -32   -32    -32 -19.659325  10.270486  -35.415485
91   3011956    64     0      0 -19.434494  10.246416  -35.273994
92   3012054    96    96    -32 -19.124584  10.446958  -35.260956
93   3012151   -32   -32      0 -19.159138  10.347754  -35.121094
94   3012249   -32    32      0 -19.193516  10.398283  -34.982239
95   3012255   -64     0    -64 -19.313183  10.374063  -35.096592
96   3012444   -64    32     64 -19.432318  10.424328  -34.707378
97   3012541   -32     0     32 -19.465763  10.400145  -34.445889
98   3012639     0   -32      0 -19.414083  10.301989  -34.311211
99   3012736   -64   -96     64 -19.532187  10.056260  -33.928062
100  3012834   -32     0      0 -19.565155  10.033018  -33.796089
101  3012931   -64    64    -64 -19.682371  10.157482  -33.913200
102  3013029    32    64     96 -19.546274  10.281507  -33.411129
103  3013126    32   -32      0 -19.410753  10.184232  -33.282169
104  3013224     0   -64    -64 -19.359802  10.013808  -33.400356
105  3013321   -64     0      0 -19.476717   9.990822  -33.272263
106  3013419    64   -64    -96 -19.258465   9.821336  -33.512070
107  3013516    32     0      0 -19.124575   9.798857  -33.384281
108  3013614   -96     0      0 -19.325060   9.776476  -33.257381
109  3013760   -96   -32     96 -19.524807   9.681257  -32.767578
110  3013858    32    64    -96 -19.390722   9.804884  -33.006897
111  3013955     0    32    -64 -19.340340   9.855339  -33.123905
112  3014053    64    64      0 -19.124279   9.978198  -32.999249
113  3014150     0    32     32 -19.074745  10.028109  -32.755390
114  3014248   -32   -32   -128 -19.108149   9.933030  -33.111847
115  3014345   -32   -32     64 -19.141390   9.838302  -32.749069
116  3014443    32   -32     32 -19.009832   9.743921  -32.507622
117  3014540     0    32    -64 -18.961006   9.794056  -32.624771
118  3018496   -32     0   -128 -18.994423   9.772033  -32.978466
119  3018545   -96   -32     64  -3.072146   0.305121    1.008023
120  3018691   -32   -32     32  -3.114052   0.268404    1.072766
121  3018789    32     0      0  -3.063229   0.268099    1.070529
122  3018935    32   -32      0  -3.012517   0.231484    1.068300
123  3019033   -32     0     96  -3.054410   0.231221    1.265511
124  3019130     0   -64    -32  -3.049999   0.158454    1.196418
125  3019277   -64   -32     32  -3.137888   0.122016    1.260307
126  3019374   -64   -32     32  -3.225630   0.085638    1.323971
127  3019520   -64    64    160  -3.313225   0.157986    1.652122
128  3019618     0    32    -32  -3.308451   0.194035    1.582452
129  3019715    32    96     64  -3.257641   0.302445    1.711496
130  3019813    32   -64      0  -3.206942   0.229626    1.707960
131  3019910   -32     0     64  -3.248315   0.229366    1.836378
132  3020008     0     0     64  -3.243652   0.229106    1.964427
133  3020154    32   -32    -32  -3.193122   0.192685    1.894522
134  3020252    32  -128   -128  -3.142703   0.047890    1.627544
135  3020349   -64   -32    -32  -3.229827   0.011640    1.558390
136  3020447    64     0      0  -3.133600   0.011626    1.555190
137  3020544  -768  -320   -320  -4.228265  -0.349762    0.896174
138  3020642   736  -960   -192  -3.154217  -1.439191    0.499117
139  3020739   352     0    416  -2.632039  -1.437528    1.355913
140  3020837   768   512     96  -1.492629  -0.844823    1.552290
141  3020934   448  -128    128  -0.818805  -0.992944    1.814607
142  3021032     0   -32    256  -0.817568  -1.029113    2.342155
143  3021129   512     0    160  -0.044231  -1.027913    2.670344
144  3021275   288   288    128   0.393932  -0.691337    2.931514
145  3021373  -160   288    160   0.148915  -0.353605    3.258960
146  3021519   -64  -224   -448   0.050758  -0.616444    2.317220
147  3021617   -32     0    192   0.001728  -0.615717    2.715806
148  3021714   -96   384     32  -0.145002  -0.162742    2.777445
149  3021812  -160  2144   1504  -0.389420   2.378921    5.932515
150  3021909 -3712  2240   5920  -6.073900   5.141698   18.707447
152  3022202   -96   -32   -192  -6.671624   2.664673   16.798016
153  3022299  -224  -320     64  -7.032256   2.230917   16.912729
154  3022305    64   160      0  -6.914071   2.444085   16.871687
155  3022543   -64  -480    320  -7.009028   1.791064   17.605749
156  3022640  1184   544  -1728  -5.028916   2.531051   13.363259
157  3022738  -960  -992    832  -6.651660   1.160923   15.417154
158  3022835 -1056   736  -1344  -8.465692   2.191971   11.959458
159  3022933  1152    96    160  -6.421076   2.325337   12.345231
160  3023079  -320   -32     32  -6.985374   2.276515   12.396466
161  3023177   160   288   -128  -6.683539   2.682609   12.031295
162  3023323     0  -160    128  -6.671440   2.450402   12.332990
163  3023420  -160  -192    128  -6.948547   2.172345   12.633814
164  3023518    96   -64      0  -6.762258   2.077489   12.600965
165  3023615  -256    64    128  -7.213374   2.166243   12.900302
166  3023713   128  -192     96  -6.967866   1.887998   13.115793
167  3023810    64   -64      0  -6.838896   1.793348   13.081814
168  3023908   352   192   -128  -6.187038   2.066551   12.717155
169  3024054  1152   -96   -192  -4.071873   1.925361   12.187896
170  3024152  1184  1056   -960  -1.856010   3.443739    9.670720
171  3024249 -2112   -96    544  -5.877458   3.297687   11.077385
172  3024347    64   992    608  -5.738943   4.750536   12.661410
173  3024444  -128  -128    480  -5.981154   4.551907   13.913010
174  3024542   480  -320    192  -5.017936   4.065731   14.393112
175  3024639    96   160     64  -4.816175   4.300481   14.526961
176  3024737   672   -64   -512  -3.464362   4.197494   13.108713
177  3024834   -64   -64     32  -3.586659   4.094676   13.159995
178  3024932     0   -96    -32  -3.579419   3.943791   13.037691
179  3025029  -160  -160    128  -3.894560   3.696536   13.348475
180  3025127    64     0    128  -3.757622   3.690952   13.658293
181  3025224   -64   288    -96  -3.879046   4.119876   13.362091
182  3025370   192   128     64  -3.484553   4.307547   13.498800
183  3025468    32  -320     64  -3.412954   3.815771   13.634911
184  3025565  -192   -64    800  -3.792981   3.712427   15.750751
185  3025663    64  -640    736  -3.656131   2.731642   17.713812
186  3025760     0  -224    256  -3.648756   2.382276   18.370806
187  3025858  -288    64    544  -4.221267   2.477504   19.822937
188  3025955  -480   -32    704  -5.182698   2.424237   21.727634
189  3026053  -288    64   -128  -5.758465   2.519289   21.306290
190  3026150     0  -192     64  -5.746700   2.219111   21.426455
191  3026248   352    96     64  -5.017172   2.364170   21.546045
192  3026345  -128   -32    128  -5.269239   2.310999   21.844496
193  3026687    32   192   -256  -5.629159   2.794449   23.077511
194  3026784   352  -352    224  -4.896701   2.244318   23.646936
195  3026882  -256   160     64  -5.413597   2.490280   23.761433
196  3027028    32  -256     96  -5.336354   2.086619   23.965984
197  3027125  -288   224    544  -5.919164   2.434407   25.436483
198  3027223   384  -128      0  -5.112337   2.229402   25.364016
199  3027418   768   -32     32  -3.503480   2.175548   25.382877
200  3027515 -5664  2816   3744 -15.439963   6.598672   35.923798
201  3027613 -6496 -6688  -6848 -30.617216  -4.498538   15.022789
202  3027710   -96 -1856 -14624 -30.789730  -7.972054  -35.369637
203  3027808 -3328 -3712  -4576 -39.477943 -15.164339  -55.486752
204  3027905  1920   992  -4032 -33.989609 -13.068176  -74.612053
205  3028003   416   448  -3072 -32.683632 -12.091322  -90.094322
206  3028100   768   544  -1792 -30.345791 -10.904817  -99.361351
207  3028198   736  -768  -1120 -28.079103 -12.534644 -105.075806
208  3028344   544  -800   -256 -26.366224 -14.251766 -105.933167
209  3028490     0  -160    672 -26.286617 -14.573873 -101.525703
210  3028588  -544    96   -160 -27.845835 -14.329332 -101.860222
211  3028685  -160     0   -288 -28.246750 -14.297643 -102.920273
212  3028783   -96  -128    256 -28.452211 -14.548617 -100.880302
213  3028880  -256  -288    352 -29.141090 -15.152243  -98.302582
214  3028978  -288  -256    736 -29.925940 -15.685621  -93.538216
215  3029075   -96   160    512 -30.126699 -15.295544  -90.042824
216  3029173  -160  -224    384 -30.520628 -15.759528  -87.289421
217  3029270   224   160    128 -29.748962 -15.368029  -86.034447
218  3029368   -96   352     96 -29.950233 -14.548682  -84.974960
219  3029465   160   128    512 -29.374149 -14.229136  -81.508018
220  3029563   160  -384   -416 -28.799379 -15.058537  -83.462296
221  3029660   352     0   -544 -27.642763 -15.024588  -86.155159
222  3029758  -128     0   -352 -27.948967 -14.990781  -87.714729
223  3029856   224    64   -384 -27.181042 -14.813389  -89.451874
224  3029953    32   -32   -384 -27.000307 -14.851959  -91.178879
225  3030050  -128   160    -96 -27.308178 -14.460295  -91.207146
226  3030148   800   288   -544 -24.788946 -13.781946  -93.846733
227  3030245   -64  -864   -224 -24.909948 -15.696006  -94.607864
228  3030343    32    96   -544 -24.734732 -15.440858  -97.227379
229  3030440    32  -192    -96 -24.560392 -15.844151  -97.220200
230  3030538   160  -320    -32 -23.994360 -16.539757  -96.841064
231  3030635  -352    96     96 -25.000942 -16.281406  -95.725082
232  3030800  -896  -224  -6816 -27.683111 -16.758228 -134.540268
233  3031025 -1088  -288   -224 -41.068439 -13.326247 -136.735001
234  3031123   192    32    -96 -40.283325 -13.218225 -136.471497
235  3031220  1888   288   -768 -33.779446 -12.501418 -140.533722
236  3031318   704  -448    -32 -31.204052 -13.541525 -139.831345
237  3031415   384  -288    320 -29.738489 -14.201138 -136.868317
238  3031513 -2368  6688  -2752 -38.030972   1.955795 -153.764587
239  3031610  -928  1248   -768 -41.322567   5.352980 -157.912506
240  3031708   448    64    320 -39.487476   5.516402 -154.667709
241  3031805  -544   128    -96 -41.390839   5.857156 -154.268311
242  3031903    96   256     32 -40.869263   6.552828 -153.007355
243  3032000   256    64      0 -39.743454   6.712946 -151.974716
244  3032098    32  -288      0 -39.470806   5.892860 -150.952820
245  3032195  -448  -320   -384 -41.019669   4.983212 -152.514084
246  3032293   -96   256     32 -41.229019   5.686454 -151.280502
247  3032390     0   -64    -32 -41.072453   5.490793 -150.485428
248  3032396    64   -96      0 -40.674629   5.206237 -149.486649
249  3032585    32    64     64 -40.399933   5.370953 -148.074860
250  3032683     0    32    -32 -40.247585   5.445435 -147.309067
251  3032780    32   -64      0 -39.975941   5.251633 -146.341339
252  3032878   -32   128    224 -39.946022   5.593708 -143.917252
253  3032975     0    64    -64 -39.796715   5.756420 -143.393723
254  3033122    64   192     32 -39.409885   6.274429 -142.250412
255  3033268  -128     0     96 -39.739498   6.256961 -140.702042
256  3033365    32    32    -32 -39.473099   6.328438 -139.996841
257  3033463   -64   -32     32 -39.563969   6.222257 -138.885803
258  3033560   -32     0    128 -39.536034   6.205054 -137.167038
259  3033658     0   -32     64 -39.390537   6.099705 -135.872971
260  3033755  -128   -32    -32 -39.715687   5.994855 -135.206390
261  3033853   -32   -32    -32 -39.687428   5.890501 -134.546951
262  3033950   -32   -64      0 -39.659370   5.698927 -133.690964
263  3033953   -32     0      0 -39.631512   5.683327 -132.843552

In [38]:
# Reset the index.
Accel_2_26_05_copy.reset_index(inplace=True)

In [39]:
# And drop the index column.
Accel_2_26_05_copy.drop(labels=['index'], axis=1, inplace=True)

In [40]:
Accel_2_26_05_copy.head()

      Time    X   Y   Z        X_f        Y_f        Z_f
0  3002645   32  64  64 -25.849033  12.145277 -52.598858
1  3002743  -64  96  96 -25.972031  12.371145 -51.784473
2  3002889  -64  32  64 -26.094332  12.423964 -51.151520
3  3002986  -32  32 -32 -26.113277  12.476519 -51.047153
4  3003084  128  64  64 -25.620377  12.614525 -50.423370

In [41]:
# Check data types.
Accel_2_26_05_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    262 non-null    object
 1   X       262 non-null    int64
 2   Y       262 non-null    int64
 3   Z       262 non-null    int64
 4   X_f     262 non-null    float64
 5   Y_f     262 non-null    float64
 6   Z_f     262 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 14.5+ KB

In [42]:
# Time Column needs to be updated to integer.
Accel_2_26_05_copy = Accel_2_26_05_copy.astype({'Time':int})

In [43]:
# Re-check data
Accel_2_26_05_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    262 non-null    int64
 1   X       262 non-null    int64
 2   Y       262 non-null    int64
 3   Z       262 non-null    int64
 4   X_f     262 non-null    float64
 5   Y_f     262 non-null    float64
 6   Z_f     262 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 14.5 KB

In [44]:
# Save the data frame as a csv format.

Accel_2_26_05_copy.to_csv('Accel_2_26_05_cleaned.csv')

## Accel_3_26_05:

In [45]:
# Load and preview the data.

Accel_3_26_05 = pd.read_csv('accel_3_26_05_2022.csv')

Accel_3_26_05.head()

      Time   X    Y   Z       X_f       Y_f       Z_f
0  2918276   0  -32   0  1.068721 -0.504631 -0.231132
1  2918374   0   64  64  1.067315 -0.442127 -0.089711
2  2918471  64  -32  32  1.150048 -0.472716 -0.019123
3  2918569 -32  160 -96  1.106470 -0.317224 -0.229926
4  2918666 -32  -32   0  1.062978 -0.347992 -0.229421

In [46]:
# Check data types and info.
Accel_3_26_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    217 non-null    int64
 1   X       217 non-null    int64
 2   Y       217 non-null    int64
 3   Z       217 non-null    int64
 4   X_f     217 non-null    float64
 5   Y_f     217 non-null    float64
 6   Z_f     217 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 12.0 KB

In [47]:
# Check for NaNs.
Accel_3_26_05.isna().sum()

Time    0
X       0
Y       0
Z       0
X_f     0
Y_f     0
Z_f     0
dtype: int64

In [48]:
# Save the file as there are no missing value and all data type are what they should be.

Accel_3_26_05.to_csv('Accel_3_26_05_cleaned.csv')

## Accel_4_26_05:

In [49]:
# Load and preview the data.

Accel_4_26_05 = pd.read_csv('accel_4_26_05_2022.csv')

Accel_4_26_05.head()

      Time    X   Y   Z        X_f        Y_f        Z_f
0  3002645   32  64  64 -25.849033  12.145277 -52.598858
1  3002743  -64  96  96 -25.972031  12.371145 -51.784473
2  3002889  -64  32  64 -26.094332  12.423964 -51.151520
3  3002986  -32  32 -32 -26.113277  12.476519 -51.047153
4  3003084  128  64  64 -25.620377  12.614525 -50.423370

In [50]:
# Get info. 
Accel_4_26_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    542 non-null    object
 1   X       542 non-null    int64
 2   Y       542 non-null    int64
 3   Z       542 non-null    int64
 4   X_f     542 non-null    float64
 5   Y_f     542 non-null    float64
 6   Z_f     542 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 29.8+ KB

In [51]:
# Check for NaNs. 
Accel_4_26_05.isna().sum()

Time    0
X       0
Y       0
Z       0
X_f     0
Y_f     0
Z_f     0
dtype: int64

In [52]:
# Create a copy of dataframe.
Accel_4_26_05_copy = Accel_4_26_05.copy()

In [53]:
# Check for non integer values in Time Column.

Time_int_check = Accel_4_26_05_copy['Time'].apply(check_int)

Time_int_check.loc[lambda x : x != 'int']

54    �0003008203
Name: Time, dtype: object

In [54]:
# Remove non numeric data from Time column.

Accel_4_26_05_copy.drop(index=54, inplace=True)

In [55]:
# Check data types and info.
Accel_4_26_05_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541 entries, 0 to 541
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    541 non-null    object
 1   X       541 non-null    int64
 2   Y       541 non-null    int64
 3   Z       541 non-null    int64
 4   X_f     541 non-null    float64
 5   Y_f     541 non-null    float64
 6   Z_f     541 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 33.8+ KB

In [56]:
# Convert Time data from object to integer.

Accel_4_26_05_copy = Accel_4_26_05_copy.astype({'Time':int})

In [57]:
# Check data info.

Accel_4_26_05_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541 entries, 0 to 541
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    541 non-null    int64
 1   X       541 non-null    int64
 2   Y       541 non-null    int64
 3   Z       541 non-null    int64
 4   X_f     541 non-null    float64
 5   Y_f     541 non-null    float64
 6   Z_f     541 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 33.8 KB

In [58]:
# Save the cleaned data frame

Accel_4_26_05_copy.to_csv('Accel_4_26_05_cleaned.csv')

## Accel_6_curb_up_31_05

In [59]:
# Load and preview the data.


Accel_6_curb_up = pd.read_csv('accel_6_curb_up_31_05_2022.csv')

Accel_6_curb_up.head()

,Unnamed: 0,Timestamp,AX,AY,AZ,fAX,fAY,fAZ
0,0,18:10:09:027,352,-1120,-1088,-44.076183,55.046425,-97.609222
1,1,18:10:09:118,928,32,768,-35.793819,54.783489,-92.298302
2,2,18:10:09:204,-8512,14016,5888,-108.783569,212.341125,-55.202663
3,3,18:10:09:295,2624,15424,-4928,-81.536301,428.819519,-88.810295
4,5,18:10:09:384,96,512,960,-79.688850,430.335266,-80.931335

In [60]:
# Check data info.
Accel_6_curb_up.isna().sum()

Unnamed: 0    0
Timestamp     0
AX            0
AY            0
AZ            0
fAX           0
fAY           0
fAZ           0
dtype: int64

In [61]:
# Make a copy of the dataframe.

Accel_6_curb_up_copy = Accel_6_curb_up.copy()

In [62]:
# Remove the "Unnamed:0" column. 

Accel_6_curb_up_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [63]:
# Preview the data.

Accel_6_curb_up_copy.head()

      Timestamp    AX     AY    AZ         fAX         fAY        fAZ
0  18:10:09:027   352  -1120 -1088  -44.076183   55.046425 -97.609222
1  18:10:09:118   928     32   768  -35.793819   54.783489 -92.298302
2  18:10:09:204 -8512  14016  5888 -108.783569  212.341125 -55.202663
3  18:10:09:295  2624  15424 -4928  -81.536301  428.819519 -88.810295
4  18:10:09:384    96    512   960  -79.688850  430.335266 -80.931335

In [64]:
# Check data info.
Accel_6_curb_up_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  297 non-null    object
 1   AX         297 non-null    int64
 2   AY         297 non-null    int64
 3   AZ         297 non-null    int64
 4   fAX        297 non-null    float64
 5   fAY        297 non-null    float64
 6   fAZ        297 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 16.4+ KB

In [65]:
# Save data frame as csv format.

Accel_6_curb_up_copy.to_csv('Accel_6_curb_up_31_05_2022_cleaned.csv')

## Accel_7_fast_and_stop_31_05

In [66]:
# Load and preview the data.

Accel_7_fast_and_stop = pd.read_csv('accel_7_fast_and_stop_31_05_2022.csv')

Accel_7_fast_and_stop.head()

,Timestamp,Mode,Data,AX,AY,AZ,fAX,fAY,fAZ
0,18:12:21:234,RX,0001462415 [app] INFO: ACCEL:,-704,-480,576,26.766279,168.241196,8.758143
1,18:12:21:325,RX,0001462551 [app] INFO: ACCEL:,-2016,1984,96,-3.032218,195.304382,10.175572
2,18:12:21:416,RX,0001462641 [app] INFO: ACCEL:,-1024,-544,1824,-18.302029,184.058868,39.223648
3,18:12:21:507,RX,0001462731 [app] INFO: ACCEL:,-960,-288,1600,-32.457813,176.883011,64.703102
4,18:12:21:603,RX,0001462821 [app] INFO: ACCEL:,-1216,448,1792,-50.310703,180.980347,93.299789

In [67]:
# Check data info.

Accel_7_fast_and_stop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  130 non-null    object
 1   Mode       130 non-null    object
 2   Data       130 non-null    object
 3   AX         130 non-null    int64
 4   AY         130 non-null    int64
 5   AZ         130 non-null    int64
 6   fAX        130 non-null    float64
 7   fAY        130 non-null    float64
 8   fAZ        130 non-null    float64
dtypes: float64(3), int64(3), object(3)
memory usage: 9.3+ KB

In [68]:
# Check for NaNs.

Accel_7_fast_and_stop.isna().sum()

Timestamp    0
Mode         0
Data         0
AX           0
AY           0
AZ           0
fAX          0
fAY          0
fAZ          0
dtype: int64

In [69]:
# Make copy of dataframe.

Accel_7_fast_and_stop_copy = Accel_7_fast_and_stop.copy()

In [70]:
# Remove the "Mode column".

Accel_7_fast_and_stop_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [71]:
# Preview the data.

Accel_7_fast_and_stop_copy.head()

,Timestamp,Data,AX,AY,AZ,fAX,fAY,fAZ
0,18:12:21:234,0001462415 [app] INFO: ACCEL:,-704,-480,576,26.766279,168.241196,8.758143
1,18:12:21:325,0001462551 [app] INFO: ACCEL:,-2016,1984,96,-3.032218,195.304382,10.175572
2,18:12:21:416,0001462641 [app] INFO: ACCEL:,-1024,-544,1824,-18.302029,184.058868,39.223648
3,18:12:21:507,0001462731 [app] INFO: ACCEL:,-960,-288,1600,-32.457813,176.883011,64.703102
4,18:12:21:603,0001462821 [app] INFO: ACCEL:,-1216,448,1792,-50.310703,180.980347,93.299789

In [72]:
# Save the dataframe as csv format.

Accel_7_fast_and_stop_copy.to_csv('Accel_7_fast_and_stop_31_05_2022_cleaned.csv')

## Accel_8_curb_up_31_05:

In [73]:
# Load and preview the data.

Accel_8_curb_up = pd.read_csv('accel_8_curb_up_31_05_2022.csv')

Accel_8_curb_up.head()

,Unnamed: 0,Timestamp,AX,AY,AZ,fAX,fAY,fAZ
0,0,18:15:17:321,-1984,-1184,-128,10.911464,20.143747,38.438805
1,3,18:15:21:642,1120,1504,-608,5.466331,39.520996,30.415575
2,4,18:15:22:408,-2144,-2048,960,-33.589970,1.751053,42.425961
3,6,18:15:22:720,-3552,-1696,384,-99.028473,-29.657183,46.862812
4,7,18:15:23:036,-2880,-2720,2880,-153.310471,-80.152374,83.436729

In [74]:
# Check data info.

Accel_8_curb_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  93 non-null     int64
 1   Timestamp   93 non-null     object
 2   AX          93 non-null     int64
 3   AY          93 non-null     int64
 4   AZ          93 non-null     int64
 5   fAX         93 non-null     float64
 6   fAY         93 non-null     float64
 7   fAZ         93 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 5.9+ KB

In [75]:
# Check for missing values.

Accel_8_curb_up.isna().sum()

Unnamed: 0    0
Timestamp     0
AX            0
AY            0
AZ            0
fAX           0
fAY           0
fAZ           0
dtype: int64

In [76]:
# Create a copy of dataframe.

Accel_8_curb_up_copy = Accel_8_curb_up.copy()

In [77]:
# Remove the "Unnamed: 0" column.

Accel_8_curb_up_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [78]:
# Preview the data.

Accel_8_curb_up_copy.head()

      Timestamp    AX    AY    AZ         fAX        fAY        fAZ
0  18:15:17:321 -1984 -1184  -128   10.911464  20.143747  38.438805
1  18:15:21:642  1120  1504  -608    5.466331  39.520996  30.415575
2  18:15:22:408 -2144 -2048   960  -33.589970   1.751053  42.425961
3  18:15:22:720 -3552 -1696   384  -99.028473 -29.657183  46.862812
4  18:15:23:036 -2880 -2720  2880 -153.310471 -80.152374  83.436729

In [79]:
# Save the data frame as csv format.

Accel_8_curb_up_copy.to_csv('Accel_8_curb_up_31_05_2022_cleaned.csv')

## Accel_9_curb_up_31_05:

In [80]:
# Load and preview the data.

Accel_9_curb_up = pd.read_csv('accel_9_curb_up_31_05_2022.csv')

Accel_9_curb_up.head()

,Unnamed: 0,"Timestamp,Mode,Data",Timestamp,mode,Data,AX,AY,AZ,fAX,fAY,fAZ
0,0,"18:16:32:074,RX,0001713110 [app] INFO: ACCEL: ...",18:16:32:074,RX,0001713110 [app] INFO: ACCEL:,768.0,-608.0,352.0,6.215045,4.296308,-7.954152
1,1,"18:16:32:294,RX,0001713380 [app] INFO: ACCEL: ...",18:16:32:294,RX,0001713380 [app] INFO: ACCEL:,704.0,-256.0,320.0,14.198598,2.221990,-5.066761
2,3,"18:16:32:514,RX,0001713605 [app] INFO: ACCEL: ...",18:16:32:514,RX,0001713605 [app] INFO: ACCEL:,-512.0,-704.0,384.0,8.164200,-3.390279,-1.649140
3,4,"18:16:32:606,RX,0001713830 [app] INFO: ACCEL: ...",18:16:32:606,RX,0001713830 [app] INFO: ACCEL:,768.0,192.0,256.0,16.868759,-1.828191,0.611687
4,5,"18:16:32:878,RX,0001713920 [app] INFO: ACCEL: ...",18:16:32:878,RX,0001713920 [app] INFO: ACCEL:,-320.0,-672.0,-448.0,12.996037,-7.164129,-3.310493

In [81]:
# Check data info.

Accel_9_curb_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           248 non-null    int64
 1   Timestamp,Mode,Data  248 non-null    object
 2   Timestamp            248 non-null    object
 3   mode                 248 non-null    object
 4   Data                 248 non-null    object
 5   AX                   248 non-null    float64
 6   AY                   248 non-null    float64
 7   AZ                   248 non-null    float64
 8   fAX                  248 non-null    float64
 9   fAY                  248 non-null    float64
 10  fAZ                  248 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 21.4+ KB

In [82]:
# Check for NaNs.

Accel_9_curb_up.isna().sum()

Unnamed: 0             0
Timestamp,Mode,Data    0
Timestamp              0
mode                   0
Data                   0
AX                     0
AY                     0
AZ                     0
fAX                    0
fAY                    0
fAZ                    0
dtype: int64

In [83]:
# Create copy of dataframe.

Accel_9_curb_up_copy = Accel_9_curb_up.copy()

In [84]:
# Remove 'Unnamed: 0' 'Timestamp,Mode,Data' and 'mode' columns.

Accel_9_curb_up_copy.drop(labels=['Unnamed: 0', 'Timestamp,Mode,Data', 'mode'], axis=1, inplace=True)

In [85]:
# Preview data.

Accel_9_curb_up_copy.head()

,Timestamp,Data,AX,AY,AZ,fAX,fAY,fAZ
0,18:16:32:074,0001713110 [app] INFO: ACCEL:,768.0,-608.0,352.0,6.215045,4.296308,-7.954152
1,18:16:32:294,0001713380 [app] INFO: ACCEL:,704.0,-256.0,320.0,14.198598,2.221990,-5.066761
2,18:16:32:514,0001713605 [app] INFO: ACCEL:,-512.0,-704.0,384.0,8.164200,-3.390279,-1.649140
3,18:16:32:606,0001713830 [app] INFO: ACCEL:,768.0,192.0,256.0,16.868759,-1.828191,0.611687
4,18:16:32:878,0001713920 [app] INFO: ACCEL:,-320.0,-672.0,-448.0,12.996037,-7.164129,-3.310493

In [86]:
# Save Dataframe as csv format.

Accel_9_curb_up_copy.to_csv('Accel_9_curb_up_31_05_2022_cleaned.csv')

## Accel_10_normal_ride_31_05:

In [87]:
# Load and preview the data.

Accel_10_normal_ride = pd.read_csv('accel_10_normal_ride.csv')

Accel_10_normal_ride.head()

,Unnamed: 0,"Timestamp,Mode,Data",Timestamp,mode,Data,AX,AY,AZ,fAX,fAY,fAZ
0,0,"18:17:58:418,RX,0001799643 [app] INFO: ACCEL: ...",18:17:58:418,RX,0001799643 [app] INFO: ACCEL:,32.0,-288.0,-224.0,2.453399,-0.454532,2.579186
1,1,"18:17:58:509,RX,0001799734 [app] INFO: ACCEL: ...",18:17:58:509,RX,0001799734 [app] INFO: ACCEL:,-96.0,-32.0,-32.0,2.290591,-0.498440,2.506613
2,2,"18:17:58:599,RX,0001799824 [app] INFO: ACCEL: ...",18:17:58:599,RX,0001799824 [app] INFO: ACCEL:,64.0,-64.0,64.0,2.392669,-0.586760,2.635491
3,3,"18:17:58:688,RX,0001799914 [app] INFO: ACCEL: ...",18:17:58:688,RX,0001799914 [app] INFO: ACCEL:,-32.0,-32.0,-64.0,2.335802,-0.630445,2.495957
4,4,"18:17:58:777,RX,0001800004 [app] INFO: ACCEL: ...",18:17:58:777,RX,0001800004 [app] INFO: ACCEL:,-32.0,-32.0,64.0,2.279083,-0.674036,2.624648

In [88]:
# Check data info.

Accel_10_normal_ride.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           539 non-null    int64
 1   Timestamp,Mode,Data  539 non-null    object
 2   Timestamp            539 non-null    object
 3   mode                 539 non-null    object
 4   Data                 539 non-null    object
 5   AX                   539 non-null    float64
 6   AY                   539 non-null    float64
 7   AZ                   539 non-null    float64
 8   fAX                  539 non-null    float64
 9   fAY                  539 non-null    float64
 10  fAZ                  539 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 46.4+ KB

In [89]:
# Check for NaNs.

Accel_10_normal_ride.isna().sum()

Unnamed: 0             0
Timestamp,Mode,Data    0
Timestamp              0
mode                   0
Data                   0
AX                     0
AY                     0
AZ                     0
fAX                    0
fAY                    0
fAZ                    0
dtype: int64

In [90]:
# Make copy of dataframe.

Accel_10_normal_ride_copy = Accel_10_normal_ride.copy()

In [91]:
# Remove 'Unnamed: 0' 'Timestamp,Mode,Data' and 'mode' columns.

Accel_10_normal_ride_copy.drop(labels=['Unnamed: 0', 'Timestamp,Mode,Data', 'mode'], axis=1, inplace=True)

In [92]:
# Preview the data.

Accel_10_normal_ride_copy.head()

,Timestamp,Data,AX,AY,AZ,fAX,fAY,fAZ
0,18:17:58:418,0001799643 [app] INFO: ACCEL:,32.0,-288.0,-224.0,2.453399,-0.454532,2.579186
1,18:17:58:509,0001799734 [app] INFO: ACCEL:,-96.0,-32.0,-32.0,2.290591,-0.498440,2.506613
2,18:17:58:599,0001799824 [app] INFO: ACCEL:,64.0,-64.0,64.0,2.392669,-0.586760,2.635491
3,18:17:58:688,0001799914 [app] INFO: ACCEL:,-32.0,-32.0,-64.0,2.335802,-0.630445,2.495957
4,18:17:58:777,0001800004 [app] INFO: ACCEL:,-32.0,-32.0,64.0,2.279083,-0.674036,2.624648

In [93]:
# Save Dataframe as csv format.

Accel_10_normal_ride_copy.to_csv('Accel_10_normal_ride_31_05_2022_cleaned.csv')

## Gyro_1_curb_up_31_05:

In [94]:
# Load and preview data.

Gyro_1_curb_up = pd.read_csv('gyro_1_curb_up_31_05_2022.csv')

Gyro_1_curb_up.head()

      Timestamp Mode                           Data      X      Y      Z
0  18:53:24:751   RX  0000187888 [app] INFO: GYRO:   7.016  0.871 -2.113
1  18:53:24:841   RX  0000187977 [app] INFO: GYRO:   7.016  0.871 -2.113
2  18:53:24:930   RX  0000188067 [app] INFO: GYRO:   7.016  0.871 -2.113
3  18:53:25:023   RX  0000188157 [app] INFO: GYRO:   7.016  0.871 -2.113
4  18:53:25:113   RX  0000188247 [app] INFO: GYRO:   7.016  0.871 -2.113

In [95]:
# Get data info.

Gyro_1_curb_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  201 non-null    object
 1   Mode       201 non-null    object
 2   Data       201 non-null    object
 3   X          201 non-null    float64
 4   Y          201 non-null    float64
 5   Z          201 non-null    float64
dtypes: float64(3), object(3)
memory usage: 9.5+ KB

In [96]:
# Check for missing values.

Gyro_1_curb_up.isna().sum()

Timestamp    0
Mode         0
Data         0
X            0
Y            0
Z            0
dtype: int64

In [97]:
# Create copy of dataframe.

Gyro_1_curb_up_copy = Gyro_1_curb_up.copy()

In [98]:
# Remove 'Mode' column.

Gyro_1_curb_up_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [99]:
# Preview the data. 

Gyro_1_curb_up_copy.head()

      Timestamp                           Data      X      Y      Z
0  18:53:24:751  0000187888 [app] INFO: GYRO:   7.016  0.871 -2.113
1  18:53:24:841  0000187977 [app] INFO: GYRO:   7.016  0.871 -2.113
2  18:53:24:930  0000188067 [app] INFO: GYRO:   7.016  0.871 -2.113
3  18:53:25:023  0000188157 [app] INFO: GYRO:   7.016  0.871 -2.113
4  18:53:25:113  0000188247 [app] INFO: GYRO:   7.016  0.871 -2.113

In [100]:
# Save the data frame as csv format. 

Gyro_1_curb_up_copy.to_csv('Gyro_1_curb_up_31_05_2022_cleaned.csv')

## Gyro_2_curb_up_31_05:

In [101]:
# Load and preview the data.

Gyro_2_curb_up = pd.read_csv('gyro_2_curb_up_31_05_2022.csv')

Gyro_2_curb_up.head()

      Timestamp Mode                           Data      X      Y      Z
0  18:54:03:946   RX  0000227081 [app] INFO: GYRO:  -0.505  0.402  0.167
1  18:54:04:082   RX  0000227172 [app] INFO: GYRO:  -0.505  0.402  0.167
2  18:54:04:176   RX  0000227307 [app] INFO: GYRO:  -0.505  0.402  0.167
3  18:54:04:261   RX  0000227397 [app] INFO: GYRO:  -0.505  0.402  0.167
4  18:54:04:357   RX  0000227487 [app] INFO: GYRO:  -0.505  0.402  0.167

In [102]:
# Check data info.

Gyro_2_curb_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  177 non-null    object
 1   Mode       177 non-null    object
 2   Data       177 non-null    object
 3   X          177 non-null    float64
 4   Y          177 non-null    float64
 5   Z          177 non-null    float64
dtypes: float64(3), object(3)
memory usage: 8.4+ KB

In [103]:
# Check for NaNs.

Gyro_2_curb_up.isna().sum()

Timestamp    0
Mode         0
Data         0
X            0
Y            0
Z            0
dtype: int64

In [104]:
# Copy data frame.

Gyro_2_curb_up_copy = Gyro_2_curb_up.copy()

In [105]:
# Remmove "Mode" column

Gyro_2_curb_up_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [106]:
# Preview the data.

Gyro_2_curb_up_copy.head()

      Timestamp                           Data      X      Y      Z
0  18:54:03:946  0000227081 [app] INFO: GYRO:  -0.505  0.402  0.167
1  18:54:04:082  0000227172 [app] INFO: GYRO:  -0.505  0.402  0.167
2  18:54:04:176  0000227307 [app] INFO: GYRO:  -0.505  0.402  0.167
3  18:54:04:261  0000227397 [app] INFO: GYRO:  -0.505  0.402  0.167
4  18:54:04:357  0000227487 [app] INFO: GYRO:  -0.505  0.402  0.167

In [107]:
# Save data frame as csv format.

Gyro_2_curb_up_copy.to_csv('Gyro_2_curb_up_31_05_2022_cleaned.csv')

## Gyro_3_curb_up_31_05:

In [108]:
# Load and preview the data.

Gyro_3_curb_up = pd.read_csv('gyro_3_curb_up_31_05_2022.csv')

Gyro_3_curb_up.head()

      Timestamp Mode                           Data      X      Y       Z
0  18:54:49:306   RX  0000272396 [app] INFO: GYRO:  -7.311 -2.552  52.319
1  18:54:49:395   RX  0000272532 [app] INFO: GYRO:  -7.311 -2.552  52.319
2  18:54:49:577   RX  0000272622 [app] INFO: GYRO:  -7.311 -2.552  52.319
3  18:54:49:666   RX  0000272802 [app] INFO: GYRO:  -7.311 -2.552  52.319
4  18:54:49:803   RX  0000272892 [app] INFO: GYRO:  -7.311 -2.552  52.319

In [109]:
# Check for data info.

Gyro_3_curb_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  112 non-null    object
 1   Mode       112 non-null    object
 2   Data       112 non-null    object
 3   X          112 non-null    float64
 4   Y          112 non-null    float64
 5   Z          112 non-null    float64
dtypes: float64(3), object(3)
memory usage: 5.4+ KB

In [110]:
# Check for missing values.

Gyro_3_curb_up.isna().sum()

Timestamp    0
Mode         0
Data         0
X            0
Y            0
Z            0
dtype: int64

In [111]:
# Create copy of dataframe.

Gyro_3_curb_up_copy = Gyro_3_curb_up.copy()

In [112]:
# Remove 'Mode' column.

Gyro_3_curb_up_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [113]:
# Preview the data.

Gyro_3_curb_up_copy.head()

      Timestamp                           Data      X      Y       Z
0  18:54:49:306  0000272396 [app] INFO: GYRO:  -7.311 -2.552  52.319
1  18:54:49:395  0000272532 [app] INFO: GYRO:  -7.311 -2.552  52.319
2  18:54:49:577  0000272622 [app] INFO: GYRO:  -7.311 -2.552  52.319
3  18:54:49:666  0000272802 [app] INFO: GYRO:  -7.311 -2.552  52.319
4  18:54:49:803  0000272892 [app] INFO: GYRO:  -7.311 -2.552  52.319

In [114]:
# Save dataframe as csv format.

Gyro_3_curb_up_copy.to_csv('Gyro_3_curb_up_31_05_2022_cleaned.csv')

## Gyro_4_throwing_bike_31_05:

In [115]:
# Load and preview the data. 

Gyro_4_throwing_bike = pd.read_csv('gyro_4_throwing_bike_31_05_2022.csv')

Gyro_4_throwing_bike.head()

      Timestamp Mode                           Data      X     Y       Z
0  18:55:43:665   RX  0000326756 [app] INFO: GYRO:  -4.695 -0.52  19.148
1  18:55:43:800   RX  0000326898 [app] INFO: GYRO:  -4.695 -0.52  19.148
2  18:55:43:891   RX  0000327026 [app] INFO: GYRO:  -4.695 -0.52  19.148
3  18:55:44:027   RX  0000327116 [app] INFO: GYRO:  -4.695 -0.52  19.148
4  18:55:44:117   RX  0000327251 [app] INFO: GYRO:  -4.695 -0.52  19.148

In [116]:
# Check data info.

Gyro_4_throwing_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  182 non-null    object
 1   Mode       182 non-null    object
 2   Data       182 non-null    object
 3   X          182 non-null    float64
 4   Y          182 non-null    float64
 5   Z          182 non-null    float64
dtypes: float64(3), object(3)
memory usage: 8.7+ KB

In [117]:
# Check for missing values.

Gyro_4_throwing_bike.isna().sum()

Timestamp    0
Mode         0
Data         0
X            0
Y            0
Z            0
dtype: int64

In [118]:
# Create copy of dataframe.

Gyro_4_throwing_bike_copy = Gyro_4_throwing_bike.copy()

In [119]:
# Remove 'Mode' column.

Gyro_4_throwing_bike_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [120]:
# Preview data.

Gyro_4_throwing_bike_copy.head()

      Timestamp                           Data      X     Y       Z
0  18:55:43:665  0000326756 [app] INFO: GYRO:  -4.695 -0.52  19.148
1  18:55:43:800  0000326898 [app] INFO: GYRO:  -4.695 -0.52  19.148
2  18:55:43:891  0000327026 [app] INFO: GYRO:  -4.695 -0.52  19.148
3  18:55:44:027  0000327116 [app] INFO: GYRO:  -4.695 -0.52  19.148
4  18:55:44:117  0000327251 [app] INFO: GYRO:  -4.695 -0.52  19.148

In [121]:
# Save dataframe as csv format.

Gyro_4_throwing_bike_copy.to_csv('Gyro_4_throwing_bike_31_05_2022_cleaned.csv')

## Gyro_5_throwing_bike_31_05:

In [122]:
# Load and previw data. 

Gyro_5_throwing_bike = pd.read_csv('gyro_5_throwing_bike_31_05_2022.csv')

Gyro_5_throwing_bike.head()

      Timestamp Mode                           Data      X      Y      Z
0  18:56:36:812   RX  0000379945 [app] INFO: GYRO:   0.066  0.027  0.901
1  18:56:36:902   RX  0000380036 [app] INFO: GYRO:   0.066  0.027  0.901
2  18:56:36:992   RX  0000380126 [app] INFO: GYRO:   0.066  0.027  0.901
3  18:56:37:082   RX  0000380216 [app] INFO: GYRO:   0.066  0.027  0.901
4  18:56:37:171   RX  0000380306 [app] INFO: GYRO:   0.066  0.027  0.901

In [123]:
# Get data info.

Gyro_5_throwing_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  97 non-null     object
 1   Mode       97 non-null     object
 2   Data       97 non-null     object
 3   X          97 non-null     float64
 4   Y          97 non-null     float64
 5   Z          97 non-null     float64
dtypes: float64(3), object(3)
memory usage: 4.7+ KB

In [124]:
# Check for NaNs.

Gyro_5_throwing_bike.isna().sum()

Timestamp    0
Mode         0
Data         0
X            0
Y            0
Z            0
dtype: int64

In [125]:
# Create copy of dataframe.

Gyro_5_throwing_bike_copy = Gyro_5_throwing_bike.copy()

In [126]:
# Remove the 'Mode' column

Gyro_5_throwing_bike_copy.drop(labels=['Mode'], axis=1, inplace=True)

In [127]:
# Preview data.

Gyro_5_throwing_bike_copy.head()

      Timestamp                           Data      X      Y      Z
0  18:56:36:812  0000379945 [app] INFO: GYRO:   0.066  0.027  0.901
1  18:56:36:902  0000380036 [app] INFO: GYRO:   0.066  0.027  0.901
2  18:56:36:992  0000380126 [app] INFO: GYRO:   0.066  0.027  0.901
3  18:56:37:082  0000380216 [app] INFO: GYRO:   0.066  0.027  0.901
4  18:56:37:171  0000380306 [app] INFO: GYRO:   0.066  0.027  0.901

In [128]:
# Save datat frame as csv format.

Gyro_5_throwing_bike_copy.to_csv('Gyro_5_throwing_bike_31_05_2022_cleaned.csv')

## 1hr_normal_rider

In [129]:
# Load and previw data. 

Normal_Rider_2 = pd.read_csv('1hr_normal_rider.csv')

In [130]:
# Create a copy of df

Normal_Rider_2_copy = Normal_Rider_2.copy()

In [131]:
# Remove NaNs of the data frame.

Normal_Rider_2_copy.dropna(axis=0, inplace=True)

In [132]:
# Check for NaNs again.

Normal_Rider_2_copy.isna().sum()

timestamp (ms)    0
acc_x             0
acc_y             0
acc_z             0
gyro_x            0
gyro_y            0
gyro_z            0
Speed(Km/h)       0
dtype: int64

In [133]:
# Data are still labelled as 'Object' data type.
# Thus some data points are not NaNs but are not relevant data.

def check_int(value):
    try:
        int(value)
        return 'int' # if value is an integer, show 'int'
    except ValueError:
        return value # if value is not an integer, show the value
    
# run the function on the y column
acc_y_int_check = Normal_Rider_2_copy['acc_y'].apply(check_int)

acc_y_int_check.loc[lambda x : x != 'int']

46       gps:locked
846      gps:locked
1640     gps:locked
2433     gps:locked
3230     gps:locked
4026     gps:locked
4821     gps:locked
5617     gps:locked
6413     gps:locked
7210     gps:locked
8008     gps:locked
8804     gps:locked
9601     gps:locked
10398    gps:locked
11193    gps:locked
11987    gps:locked
12783    gps:locked
13579    gps:locked
14374    gps:locked
15168    gps:locked
15970    gps:locked
16765    gps:locked
17562    gps:locked
18357    gps:locked
19154    gps:locked
19952    gps:locked
20745    gps:locked
21539    gps:locked
22333    gps:locked
23126    gps:locked
23923    gps:locked
24721    gps:locked
25516    gps:locked
26313    gps:locked
27108    gps:locked
27904    gps:locked
28705    gps:locked
29504    gps:locked
30305    gps:locked
31100    gps:locked
31531      id:0x2EE
31860    gps:locked
32554    gps:locked
33250    gps:locked
33948    gps:locked
34644    gps:locked
36036    gps:locked
37428    gps:locked
38122    gps:locked
38818    gps:locked
39459    gps:locked
40257    gps:locked
41056    gps:locked
41854    gps:locked
42652    gps:locked
43450    gps:locked
44250    gps:locked
45506    gps:locked
46306    gps:locked
47103    gps:locked
47899    gps:locked
48694    gps:locked
49490    gps:locked
Name: acc_y, dtype: object

In [134]:
# Identify index that contains values not intiger (acc_y)

indexNames = acc_y_int_check.loc[lambda x : x != 'int'].index

In [135]:
# Delete these row indexes from dataFrame

Normal_Rider_2_copy.drop(indexNames, inplace = True)

In [136]:
# Run the function on the z column

acc_z_int_check = Normal_Rider_2_copy['acc_z'].apply(check_int)

acc_z_int_check.loc[lambda x : x != 'int']

31859    soc:100.00%
32553    soc:100.00%
33249    soc:100.00%
33947    soc:100.00%
34643    soc:100.00%
35340    soc:100.00%
36035    soc:100.00%
36733    soc:100.00%
38121    soc:100.00%
38817    soc:100.00%
Name: acc_z, dtype: object

In [137]:
# Identify index that contains values not intiger (acc_z)
indexNames2 = acc_z_int_check.loc[lambda x : x != 'int'].index

# Delete these row indexes from dataFrame
Normal_Rider_2_copy.drop(indexNames2, inplace = True)

In [138]:
# Data are still labelled as 'Object' data type. in gyro
# Thus some data points are not NaNs but are not relevant data.

def check_float(value):
    try:
        float(value)
        return 'float' # if value is an integer, show 'int'
    except ValueError:
        return value # if value is not an integer, show the value
    
# run the function on the y column
gyro_x_float_check = Normal_Rider_2_copy['gyro_x'].apply(check_float)

gyro_x_float_check.loc[lambda x : x != 'float']

Series([], Name: gyro_x, dtype: object)

In [139]:
# Correcting types

Normal_Rider_2_copy = Normal_Rider_2_copy.astype({'acc_y':int, 'acc_z':int, 'gyro_x':float, 'gyro_y':float, 'gyro_z':float})

In [140]:
# Check the types again

Normal_Rider_2_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52011 entries, 0 to 52114
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp (ms)  52011 non-null  int64
 1   acc_x           52011 non-null  int64
 2   acc_y           52011 non-null  int64
 3   acc_z           52011 non-null  int64
 4   gyro_x          52011 non-null  float64
 5   gyro_y          52011 non-null  float64
 6   gyro_z          52011 non-null  float64
 7   Speed(Km/h)     52011 non-null  float64
dtypes: float64(4), int64(4)
memory usage: 3.6 MB

In [141]:
# Check the descriptive statistics

Normal_Rider_2_copy.describe()

,timestamp (ms),acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z,Speed(Km/h)
count,5.201100e+04,52011.000000,52011.000000,52011.000000,52011.000000,52011.000000,52011.000000,52011.000000
mean,2.518251e+06,0.095980,3.305762,-2.052489,-1.609354,0.681488,-1.941006,6.819727
std,4.485938e+05,2865.438987,1491.586500,3422.188867,9.505255,2.572630,17.807291,7.291429
min,2.019518e+06,-28512.000000,-13952.000000,-25184.000000,-43.817001,-7.402000,-80.455002,0.000000
25%,2.183082e+06,-512.000000,-320.000000,-640.000000,-5.767000,-0.023000,-7.027000,0.000000
50%,2.346783e+06,0.000000,0.000000,0.000000,-0.123000,0.329000,0.086000,4.600000
75%,2.895668e+06,512.000000,352.000000,608.000000,4.348000,1.756000,4.947000,13.000000
max,4.038535e+06,26112.000000,13024.000000,23200.000000,15.391000,9.203000,37.088001,24.000000

In [142]:
# Export cleaned data as CSV

Normal_Rider_2_copy.to_csv('1hr_normal_rider_cleaned.csv')

## Zoomo_IoT:

# Data Cleaning process: 

- Separate acceleration and gyroscopic datat into two different data frames.
- Remove NaNs and non Numeric values
- Remove unwanted columns
- Rename time columns to distinguish between acceleration and gyrometric time data.

In [143]:
# Import and preview the data.

Zoomo_IoT = pd.read_excel('Zoomo_IoT.xlsx')

Zoomo_IoT.head()

,time,ax (m/s^2),ay (m/s^2),az (m/s^2),aT (m/s^2),Unnamed: 5,time.1,wx (rad/s),wy (rad/s),wz (rad/s)
0,0.004313,-0.2607,0.0004,0.1696,0.311,NaN,0.000821,0.0,0,0.0
1,0.016459,0.0307,0.0412,0.1094,0.121,NaN,0.000997,0.0,0,0.0
2,0.022998,-0.0977,0.0356,0.0876,0.136,NaN,0.001085,0.0,0,0.0
3,0.033322,0.0960,0.0820,0.0731,0.146,NaN,0.001171,0.0,0,0.0
4,0.042877,0.0219,0.0941,0.0491,0.108,NaN,0.002772,0.0,0,0.0

In [144]:
# Get data info. 

Zoomo_IoT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518223 entries, 0 to 518222
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        84152 non-null   float64
 1   ax (m/s^2)  84152 non-null   float64
 2   ay (m/s^2)  84152 non-null   float64
 3   az (m/s^2)  84152 non-null   float64
 4   aT (m/s^2)  84152 non-null   float64
 5   Unnamed: 5  0 non-null       float64
 6   time.1      518223 non-null  float64
 7   wx (rad/s)  518222 non-null  float64
 8   wy (rad/s)  518222 non-null  object
 9   wz (rad/s)  518221 non-null  float64
dtypes: float64(9), object(1)
memory usage: 39.5+ MB

In [145]:
# Check for missing values.

print(Zoomo_IoT.isna().sum())

print(Zoomo_IoT.tail())

time          434071
ax (m/s^2)    434071
ay (m/s^2)    434071
az (m/s^2)    434071
aT (m/s^2)    434071
Unnamed: 5    518223
time.1             0
wx (rad/s)         1
wy (rad/s)         1
wz (rad/s)         2
dtype: int64
        time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  aT (m/s^2)  Unnamed: 5  \
518218   NaN         NaN         NaN         NaN         NaN         NaN
518219   NaN         NaN         NaN         NaN         NaN         NaN
518220   NaN         NaN         NaN         NaN         NaN         NaN
518221   NaN         NaN         NaN         NaN         NaN         NaN
518222   NaN         NaN         NaN         NaN         NaN         NaN

             time.1  wx (rad/s) wy (rad/s)  wz (rad/s)
518218  1036.693259        0.00          0         0.0
518219  1036.694490        0.01          0         0.0
518220  1036.695822        0.00          0         0.0
518221  1036.697831        0.00          0         0.0
518222  1036.699798        0.00          -         NaN

### Observation: 

- The acceleration data have 434071 missing values. However, when looking at the excel spreadsheet we can see that this is because there are simply no data in those fields.
-  Therefore, before doing any data cleaning I will separate the acceleration and gyrometric data into different dataframes.

In [146]:
# Create a copy of orinigal dataframe.

Zoomo_IoT_copy = Zoomo_IoT.copy()

In [147]:
# Create a subset of acceleration data.

Zoomo_IoT_accel = Zoomo_IoT_copy[['time', 'ax (m/s^2)', 'ay (m/s^2)', 'az (m/s^2)','aT (m/s^2)']]

In [148]:
# Preview acceleration data.

Zoomo_IoT_accel.head()

       time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  aT (m/s^2)
0  0.004313     -0.2607      0.0004      0.1696       0.311
1  0.016459      0.0307      0.0412      0.1094       0.121
2  0.022998     -0.0977      0.0356      0.0876       0.136
3  0.033322      0.0960      0.0820      0.0731       0.146
4  0.042877      0.0219      0.0941      0.0491       0.108

In [149]:
# Create a subset of gyroscopic data.

Zoomo_IoT_gyro = Zoomo_IoT_copy[['time.1', 'wx (rad/s)', 'wy (rad/s)', 'wz (rad/s)']]

In [150]:
# Preview the data gyroscopic data.

Zoomo_IoT_gyro.head()

     time.1  wx (rad/s) wy (rad/s)  wz (rad/s)
0  0.000821         0.0          0         0.0
1  0.000997         0.0          0         0.0
2  0.001085         0.0          0         0.0
3  0.001171         0.0          0         0.0
4  0.002772         0.0          0         0.0

In [151]:
# Remove NaNs for acceleration data.

Zoomo_IoT_accel.dropna(axis=0, inplace=True)

/Users/tunatuncay/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [152]:
# Verify if there are any missing data left.

Zoomo_IoT_accel.isna().sum()

time          0
ax (m/s^2)    0
ay (m/s^2)    0
az (m/s^2)    0
aT (m/s^2)    0
dtype: int64

In [153]:
# Remove NaNs for gyrometric data. 

Zoomo_IoT_gyro.dropna(axis=0, inplace=True)

In [154]:
# Verify if there are any missing data left.

Zoomo_IoT_gyro.isna().sum()

time.1        0
wx (rad/s)    0
wy (rad/s)    0
wz (rad/s)    0
dtype: int64

In [155]:
# Check data type for both data frame.

print(Zoomo_IoT_accel.info())


print(Zoomo_IoT_gyro.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84152 entries, 0 to 84151
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time        84152 non-null  float64
 1   ax (m/s^2)  84152 non-null  float64
 2   ay (m/s^2)  84152 non-null  float64
 3   az (m/s^2)  84152 non-null  float64
 4   aT (m/s^2)  84152 non-null  float64
dtypes: float64(5)
memory usage: 3.9 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 518221 entries, 0 to 518221
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time.1      518221 non-null  float64
 1   wx (rad/s)  518221 non-null  float64
 2   wy (rad/s)  518221 non-null  object
 3   wz (rad/s)  518221 non-null  float64
dtypes: float64(3), object(1)
memory usage: 19.8+ MB
None

### Observation:

- For acceleration data there are no missing data points or NaNs and the data type for each column is float64. Thus the data are clean.
- For Gyroscopic data, there are no missing data points or NaNs however for 'wy' column the data type is object. Thus I will change its data type to float64.

In [156]:
# Change data type of 'wy' column.

Zoomo_IoT_gyro['wy (rad/s)'] = Zoomo_IoT_gyro['wy (rad/s)'].astype(float)

/var/folders/5j/_w15pf392csd7_k6_373vp8m0000gn/T/ipykernel_76891/126995180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zoomo_IoT_gyro['wy (rad/s)'] = Zoomo_IoT_gyro['wy (rad/s)'].astype(float)

In [157]:
# Verify that 
Zoomo_IoT_gyro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518221 entries, 0 to 518221
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time.1      518221 non-null  float64
 1   wx (rad/s)  518221 non-null  float64
 2   wy (rad/s)  518221 non-null  float64
 3   wz (rad/s)  518221 non-null  float64
dtypes: float64(4)
memory usage: 19.8 MB

In [158]:
# Save both the data frames as csv format.

Zoomo_IoT_accel.to_csv('Zoomo_IoT_accel_Cleaned.csv')

Zoomo_IoT_gyro.to_csv('Zoomo_IoT_gyro_Cleaned.csv')